extends /zh_tw/_layout.pug
append variables
    - title = "首頁"
append head
    link(rel="stylesheet" href="/assets/css/main.css?version="+timestamp)
append body
    #main-top
        .box-left.real
            svg.artist-3(width='480' height='287' viewBox='0 0 480 287' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/3")
                    rect(width='480' height='287' fill='#7FCFF4')
                    rect(y='87' width='480' height='30' fill='#485FF4')
                    rect(y='153' width='480' height='31' fill='#485FF4')
                    rect(y='220' width='480' height='31' fill='#485FF4')
            svg.artist-4(width='481' height='350' viewBox='0 0 481 350' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/4")
                    ellipse(cx='202.758' cy='188.298' rx='196.951' ry='119.701' transform='rotate(-35.8036 202.758 188.298)' fill='#74E1E8')
            svg.artist-5(width='480' height='260' viewBox='0 0 480 260' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/5")
                    circle(cx='348' cy='127' r='106' fill='#5366FF')
                    circle(cx='275.915' cy='111.105' r='12.72' fill='#E1E0FE')
                    circle(cx='347.998' cy='127.001' r='37.1' fill='white')
        .box-left.mirror
        .box-center.real
            svg.artist-6(width='480' height='800' viewBox='0 0 480 800' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/6")
                    rect(width='480' height='800' fill='#FEC0CB')
                    rect(y='330' width='480' height='40' fill='white')
                    ellipse(cx='242.5' cy='315.5' rx='109.5' ry='108.5' fill='white')
            svg.artist-8(width='480' height='280' viewBox='0 0 480 280' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/8")
                    rect(width='480' height='280' fill='#74E1E8')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M413.688 280L68.0938 0H125.96L480.002 279.994V280H413.688Z' fill='#FFF684')
        .box-center.mirror
        .box-right.mirror
        .box-right.real
            svg.artist-1(width='480' height='800' viewBox='0 0 480 800' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/1")
                    rect(width='480' height='800' fill='#7FCFF4')
                    path(d='M239.705 372L136.903 214.93L342.507 214.93L239.705 372Z' fill='#FFF29B')
                    ellipse(cx='239.5' cy='156' rx='118.5' ry='118' fill='#354DE9')
            svg.artist-27(width='480' height='350' viewBox='0 0 480 350' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/2")
                    path(d='M0 0V350L480 0H0Z' fill='#FFE8DA')
                    ellipse(cx='123' cy='108.5' rx='104' ry='90.5' fill='#CCD0FC')
                    line(x1='153' y1='96' x2='187' y2='96' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                    line(x1='153' y1='121' x2='187' y2='121' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                    line(x1='151' y1='121' x2='151' y2='96' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                a(href="/"+lang+"/artist/7")
                    path(d='M480 350V0L0 350H480Z' fill='#CBD0FC')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M365.667 227.67C365.668 227.671 365.669 227.672 365.67 227.674C365.671 227.673 365.673 227.672 365.674 227.672C365.673 227.67 365.672 227.669 365.671 227.667C365.67 227.668 365.669 227.669 365.667 227.67ZM382.031 164.714C369.248 142.942 341.27 135.529 319.369 148.174C297.466 160.819 289.898 188.757 302.363 210.713C280.595 223.497 273.183 251.473 285.827 273.373C298.472 295.274 326.408 302.843 348.364 290.38C348.42 290.48 348.478 290.58 348.535 290.679C361.237 312.68 389.369 320.218 411.37 307.516C433.37 294.814 440.908 266.682 428.206 244.681C428.148 244.581 428.09 244.48 428.031 244.38C428.132 244.323 428.233 244.265 428.333 244.207C450.334 231.505 457.872 203.373 445.17 181.373C432.468 159.372 404.336 151.834 382.335 164.536C382.233 164.595 382.132 164.654 382.031 164.714Z' fill='white')
    #main-video: .container-fluid.d-flex.flex-column.justify-content-center.align-items-center
        .iframe-box
            iframe.w-100.h-100(src='https://www.youtube.com/embed/wckrDIXCNhM?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    #main-bottom: .container-fluid 
        .row.mb-5.g-0.justify-content-center
            .col-md-6.text-center.disc
                h6 舞蹈生態系創意團隊
                h1 擁抱
                p 《療癒工藝影片－擁抱》由舞蹈生態系創意團隊製作，以工藝類藝術家之創作過程出發，從聲動、觸動、時光、共生四子題切入，紀錄藝術家於創作過程中的轉折、因不同事件所產生的身體律動、感知及心境變化，並轉為結合舞蹈影像的紀錄片方式訴說。
        .row.gx-4.gy-5.justify-content-center.align-items-center
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/_ELNSZ8cezc?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧聲動
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/6ZhvuplH-Lk?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧觸動
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/yV-HpJqUKYo?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧共生
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/TwfS52a4suA?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧時光

    #footer: .container-fluid
        .row.h-100.gx-4.justify-content-center
            .col-md-5.d-flex
                table
                    tr
                        th(style="width: 6rem") 聯絡我們
                        td 台灣藝文空間連線TASA協會<br><i>service@tasatw.org</i>
            .col-md-5.d-flex.flex-column
                table
                    tr
                        th(style="width: 6rem") 指導單位
                        td 文化部、國立台灣工藝研究發展中心
                    tr
                        th 主辦單位
                        td 台灣藝文空間連線TASA協會
                    tr
                        th 策展協力
                        td 自己人策展團隊
                    tr
                        th 媒體協力
                        td 典藏Artouch、Arttime藝術網
                    tr
                        th 場地協力
                        td 或者工藝櫥窗、節點、了了空間
append script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js")
    script.
        var anim, anim1, anim2, anim3
        $(function() {
            $(".box-left.mirror").html($(".box-left.real").html())
            $(".box-center.mirror").html($(".box-center.real").html())
            $(".box-right.mirror").html($(".box-right.real").html())
        })
        $(".box-left.real, .box-center.real, .box-right.real").on({
            mouseenter: function(e) {
                targetClass = `${$(this).attr("class")}`
                switch (targetClass) {
                    case "box-left real":
                        $(".box-right.mirror").removeClass("show")
                        $(".box-left.mirror").addClass("show")
                        anim = anime({
                            targets: ['.box-center.real', '.box-right.real'],
                            easing: 'easeInOutQuad',
                            translateX: '100%',
                            duration: 300
                        });
                        break
                    case "box-center real":
                        $(".box-center.mirror").addClass("show")
                        anim = anime({
                            targets: ['.box-right.real'],
                            easing: 'easeInOutQuad',
                            translateX: '100%',
                            duration: 300
                        });
                        break
                    case "box-right real":
                        $(".box-right.mirror").addClass("show")
                        anim = anime({
                            targets: ['.box-center.real', '.box-left.real'],
                            easing: 'easeInOutQuad',
                            translateX: '-100%',
                            duration: 300
                        });
                        break
                }
            },
            mouseleave: function(e) {
                /*
                targetClass = `${$(this).attr("class")}`
                switch (targetClass) {
                    case "box-left real":
                        anim1.reverse()
                        anim1.play()
                        break
                    case "box-center real":
                        anim2.reverse()
                        anim2.play()
                        break
                    case "box-right real":
                        anim3.reverse()
                        anim3.play()
                        break
                }*/
                anim.pause()
                $(".box-left.real, .box-center.real, .box-right.real").css("transform", "")
            }
        })