@import _variables.sass

:root 
    --radius-value: 3rem

h1, h2, h3, h4
    margin-bottom: 1rem
h1
    font-size: 2.5rem
p
    text-align: justify
    text-justify: inter-word

th
    vertical-align: top
    font-weight: 400
    border-right: 1rem solid transparent
td 
    vertical-align: top

a:focus, button:focus
    box-shadow: none !important

.text-center p
    text-align: center

.btn-purple
    background-color: #EDE9FE
    border: 2px solid transparent
    &:hover
        border: 2px solid $color-link

body
    position: relative
    background-color: $color-bg
    letter-spacing: 0.5px
    font-family: 'Noto Sans TC', sans-serif
    font-weight: 300
    overflow: auto

#loading
    position: fixed
    height: 100%
    width: 100%
    z-index: 9999999999
    -webkit-backdrop-filter: blur(100px)
    backdrop-filter: blur(100px)
    background-color: rgba(#FFE2AA, .25)
    img
        position: absolute
        height: 6rem
        margin: auto
        left: calc(50% - 3rem)
        top: calc(50% - 3rem)


#bodyOffset
    height: 4rem

.navbar.navbar-light
    z-index: 1050
    background-color: #FFFAEF
    .navbar-toggler-burger
        height: 2.5rem
        width: 3rem
        padding: 0
        position: relative
        span
            position: absolute
            top: calc(50% - 1.5px)
            left: calc(50% - 1rem)
            display: block
            width: 2rem
            height: 3px
            background-color: #666
            border-radius: 2px
            transition: .3s
            &::before
                content: ""
                position: absolute
                margin-top: -8px
                display: block
                width: 2rem
                height: 3px
                background-color: #666
                border-radius: 2px
                transition: .3s
            &::after
                content: ""
                position: absolute
                margin-top: 8px
                display: block
                width: 2rem
                height: 3px
                background-color: #666
                border-radius: 2px
                transition: .3s
        &.clicked 
            span
                background-color: transparent
                &::before
                    transform: translate(0px, 7.5px) rotate(45deg)
                &::after
                    transform: translate(0px, -7.5px) rotate(-45deg)
                

    .link-box
        height: min-content
        padding-top: .25rem
    a
        font-weight: 500
        &.navbar-brand
            font-family: 'Noto Sans', sans-serif
            font-weight: bold
            font-size: 2rem
            margin-right: 4rem
            padding: 0
        &.nav-link
            color: #333
            padding: .25rem .5rem
            margin: .25rem .5rem
            transition: 0s
            outline: 0
        &.nav-link, &.dropdown-item
            &:focus
                color: #333
            &:link, &:visited
                border-bottom: 2px solid transparent
                &:hover
                    color: #333
                    border-bottom: 2px solid $color-link
        &.btn
            height: min-content
            filter: drop-shadow(0px 4px 12px rgba(#000, .1))
            
    .dropdown-menu
        background-color: #FFFAEF
        border: 0
        padding: 1rem 2rem
        margin-left: -2rem !important
        .dropdown-item:focus, .dropdown-item:hover
            background-color: transparent
        &.lang-dropdown
            right: 0
            left: auto
            padding: 1rem
            min-width: 5rem
            .dropdown-item
                &:hover
                    color: $color-link !important
                    border-color: transparent !important

#helpModal
    transition: .3s
    background-color: white
    background-image: url("/assets/overlay.png")
    background-size: cover
    background-position: center center

.modal-backdrop, .offcanvas-backdrop
    &.fade
        -webkit-backdrop-filter: blur(5px)
        backdrop-filter: blur(5px)
        background-color: rgba(0, 0, 0, .5)
    &.show
        opacity: 1
    
.modal-content
    background-color: transparent
    #workImageBox
        background-size: contain
        background-repeat: no-repeat
        background-position: center center
        height: 85vh
        margin: auto
        display: flex
        justify-content: center
        align-items: center
        .img-box
            position: relative
            height: 100%
        img
            max-height: 100%
            max-width: 100%
            border-radius: var(--radius-value)
            filter: drop-shadow(0px 6px 40px rgba(#000, .5))
    #helpBox
        margin: auto
        position: relative
        padding: 6vh 4vw
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        border: 6px solid rgba(white, .5)
        border-radius: var(--radius-value)
        color: white
        background-color: rgba(white, .25)
        > div
            filter: drop-shadow(2px 3px 3px rgba(#000, .25))
            padding: 1rem

    .close-button
        display: block
        position: absolute
        background-color: rgba(white, .8)
        right: 1rem
        top: 1rem
        width: 2rem
        height: 2rem
        border-radius: 1rem
        padding: 0.5rem
        line-height: 0.85rem
        transition: .3s
        color: #666
        cursor: pointer
        &:hover
            color: $color-link
            background-color: rgba(white, 1)

@media (min-width: 768px)
    .navbar.navbar-light
        height: 4rem !important
        filter: drop-shadow(0px 4px 12px rgba(#000, .1))

@media (max-width: 767px)
    :root
        --radius-value: 2rem
    #navbarNav
        //transition: .3s ease-in-out
        &.offcanvas
            max-width: 101%
            width: 101%
            height: max-content
            background-color: #FFFAEF
            margin-top: 3.8rem
    .offcanvas-backdrop
        margin-top: 4rem