$color-bg:#FFF8E7
$color-link: #7C3AED

.btn-purple
    background-color: #EDE9FE
    color: $color-link !important
    transition: .3s
    &:hover
        filter: brightness(.95)

body
    background-color: $color-bg

.nav
    background-color: $color-bg
    padding: 1em 0
    a
        color: #333
        font-weight: bold
        &:link, &:visited
            &:hover
                color: $color-link