@import _variables.sass
#main-top
    height: calc(100vh - 4rem)
    .col-4
        background-position: center center
        background-size: cover
#main-video
    background-color: #ECEBED
    padding: 5rem
    .iframe-box
        border-radius: var(--radius-value)
        overflow: hidden
        height: 40.5vw
        width: 72vw
#main-bottom
    background-color: #FFF8E7
    padding: 3rem 0
    .disc
        h6
            color: #999
            font-weight: lighter
            margin-bottom: .5rem
        p
            font-weight: bolder
    .box
        display: flex
        flex-direction: column
        position: relative
        .iframe-box
            border-radius: var(--radius-value)
            overflow: hidden
            width: 100%
            height: 22vw
        h6
            padding-top: 1rem
#footer
    background-color: #B2ABA4
    padding: 3rem 0
    color: white
    b
        padding-right: 1.5rem
    a:link, a:visited
        color: white
        &:hover
            color: rgba(white, .8)

@media (max-width: 767px)
    #main-video
        padding: 3rem 2rem
        .iframe-box
            width: 100%
            height: calc(52vw - 1rem)
    #main-bottom 
        padding: 3rem 2rem
        .box .iframe-box
            height: calc(52vw - 1rem)
    #footer
        padding: 3rem 2rem
        .col-md-5
            margin-bottom: 3rem