@import _variables.sass

.bg-exhibition
    background-color: #F5EDE6
.bg-talk
    background-color: #EFE3D8
.bg-article
    background-color: #979797
.bg-footer
    background-color: #B2ABA4
.bg-1
    background-color: #D6CDC5
    .underline span
        background-color: #EFE3D8
.bg-2
    background-color: #FFCADA
    .underline span
        background-color: #EFEFEF
.bg-3
    background-color: #EFEFEF
    .underline span
        background-color: #FFCADA

#moreNav
    top: 4rem
#bodyOffset
    height: 8.5rem
h3
    position: relative
    font-size: 1.25rem
    margin: 0
    font-weight: 500
    z-index: 1

table
    tr
        border-top: 1.5rem solid transparent
    th
        min-width: 5rem

#moreNav .nav-link
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 0
    padding-bottom: 1.5rem
    border-radius: 0
    flex: 1 1 auto
    text-align: center
    cursor: pointer
    h3
        line-height: 4rem
        color: rgba(#444, .25) !important
    span
        width: 4rem
        display: block
        height: 1rem
        border-radius: .5rem
        margin-top: -1.75rem
        filter: drop-shadow(0px 6px 18px rgba(#000, .25))
        background-color: #D1C9C1
    &.active h3
        color: #444 !important

.en #moreNav .nav-link
    span
        width: 8rem

#exhibition
    padding: 3rem
    .content-box
        min-height: calc(100vh - 14.5rem)
        border-radius: var(--radius-value) var(--radius-value) 0 0
        .col-md-auto
            padding: 4rem 0 4rem 4rem
        .col
            padding: 4rem
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
        .title-box
            z-index: 0
            color: white
            h3
                z-index: 1
            span
                width: 13.5rem
                display: block
                height: 1rem
                border-radius: .5rem
                margin-top: -0.5rem
                margin-left: -0.5rem
                filter: drop-shadow(0px 8px 24px rgba(#000, .25))
                background-color: #EFE3D8
.en #exhibition .content-box
    .title-box span
        width: 14.5rem
        
#talk
    min-height: calc(100vh - 8.5rem)
    padding: 3rem
    .content-box
        a
            color: $color-text
            text-decoration: none
        .bg-1
            border-radius: 0 0 0 var(--radius-value)
        .bg-3
            border-radius: 0 0 var(--radius-value) 0
        .float-box
            display: flex
            flex-direction: column
            height: 100%
            padding: 2rem
            &:hover
                transition: .3s
                transform: translate(-3px, -3px)
                filter: drop-shadow(0px 8px 24px rgba(#000, .25))
            .number
                line-height: 7rem
                font-size: 7rem
                color: white
                font-family: 'Noto Sans', sans-serif
                font-weight: bold
            
            .underline span
                position: absolute
                bottom: .75rem
                width: calc(100% - 2rem)
                display: block
                height: 1rem
                border-radius: .5rem
                filter: drop-shadow(0px 8px 24px rgba(#000, .25))

#article
    padding: 3rem
    .title-box
        z-index: 0
        color: white
        h3
            z-index: 1
            text-align: center
        span
            width: 4rem
            display: block
            height: 1rem
            border-radius: .5rem
            margin-top: -0.5rem
            filter: drop-shadow(0px 8px 24px rgba(#000, .25))
            background-color: #C7C7C7
    .article-list
        text-align: center
        padding-top: 2.5rem
        a:link, a:visited
            color: #FFCADA
            font-weight: bolder
            &:hover
                color: rgba(#FFCADA, .8)

#footer
    padding: 5rem 2.5rem
    color: white
    .me-4
        width: 4.5rem
    a:link, a:visited
        color: white
        &:hover
            color: rgba(white, .8)

@media (max-width: 767.98px)
    #exhibition, #talk
        padding: 1.5rem
        .content-box
            .col-md-auto, .col
                padding: 1.5rem
    #talk
        .content-box
            .float-box
                padding: 1.5rem
            .bg-1
                border-radius: 0
            .bg-3
                border-radius: 0 0 var(--radius-value) var(--radius-value)
    #footer
        .col-md-6
            margin-bottom: 1rem
        .m-0
            flex: 1
