extends /_layout.pug
block variables
    - title = "了解更多"
block head
    link(rel="stylesheet" href="/assets/css/more.css?version="+timestamp)
block body
    nav#moreNav.nav.fixed-top
        a.bg-exhibition.nav-link.active(data-bs-toggle="pill" href="#exhibition")
            h3 展覽
            span.
        a.bg-talk.nav-link(data-bs-toggle="pill" href="#talk")
            h3 講座
            span.
    #exhibition.bg-exhibition
        .bg-1.content-box.row.g-0
            .col-md-auto
                .title-box
                    small 展覽番外篇
                    h3 或者工藝櫥窗《鏡子》
                    span.
                table
                    tr
                        th 時間
                        td 2022/4/15 (五) - 4/30 (六)
                    tr
                        th 地點
                        td 或者工藝櫥窗3樓<br>(新竹市中央路75號)
                    tr
                        th 展出人
                        td.
                            王筱璦・王筱璦金工藝術<br>
                            林秀蘋(思良)・BONTE好物金工<br>
                            康雅筑・織物地圖<br>
                            張博傑・真真鑲嵌玻璃研究所<br>
                            黃虹毓・土星工作室<br>
                            潘子村・村 碟樂<br>
                            賴信佑・光山行漆器工藝
            .col
                p 《鏡子》療癒工藝線上展呈現藝術家如何在工藝創作中汲取療癒力量。有別於以實體空間展出最終完成品的展覽形式，因應線上觀展特性，參展藝術家將工藝作品概念化，透過文字、影像和聲音呈現，引導觀眾一探帶來療癒的「創作過程」。
                p 受或者工藝櫥窗邀請，規劃《鏡子》展覽番外篇，將播映衍生計畫《擁抱》，是結合舞蹈影像的紀錄片：以工藝類藝術家之創作過程出發，從聲動、觸動、時光、共生四子題切入，紀錄藝術家於創作過程中的轉折、因不同事件所產生的身體律動、感知及心境變化，並轉為舞蹈影像訴說。此外，現場也展出《鏡子》參與藝術家部分參展作品和其他系列的工藝作品，期待觀者不只透過線上展捕捉藝術創作的核心，也可親眼看到實體的質感。
                
    #talk.bg-talk
        .content-box.row.h-100.g-0 
            .col-md-4
                a(href="https://www.accupass.com/go/tasatwmirror1" target="_blank"): .bg-1.float-box
                    h3 和藝術家一起探索被療癒的原因
                    table
                        tr
                            th 時間
                            td 4/23 (六) 14:30-16:00 
                        tr
                            th 地點
                            td 或者工藝櫥窗3樓<br>(新竹市中央路75號)
                        tr
                            th 與談人
                            td.
                                王筱璦・王筱璦金工藝術、林秀蘋(思良)・BONTE好物金工、陳向榮・向榮水果行
                        tr
                            th 主持人
                            td 洪秉綺
                        tr
                            th 活動連結
                            td(style="text-decoration: underline") 線上報名
                    .row.mt-auto
                        .col-3.number 1
                        .col-9.underline.position-relative: span.
            .col-md-4
                a(href="https://www.accupass.com/go/tasatwmirror2" target="_blank"): .bg-2.float-box
                    h3 面對自己是必要的過程
                    table
                        tr
                            th 時間
                            td 5/1 (日) 14:30-16:00 
                        tr
                            th 地點
                            td 節點<br>(台南市永福路二段84號 永福國小旁)
                        tr
                            th 與談人
                            td 黃虹毓・土星工作室、賴信佑・光山行漆器工藝
                        tr
                            th 主持人
                            td 洪秉綺
                        tr
                            th 活動連結
                            td(style="text-decoration: underline") 線上報名
                    .row.mt-auto
                        .col-3.number 2
                        .col-9.underline.position-relative: span.
            .col-md-4
                a(href="https://www.accupass.com/go/tasatwmirror3" target="_blank"): .bg-3.float-box
                    h3 步入冥想的思緒
                    table
                        tr
                            th 時間
                            td 5/7 (六) 14:30-16:00 
                        tr
                            th 地點
                            td 了了空間 liáu liáu Art Space<br>(台北市士林區中興街24號1F)
                        tr
                            th 與談人
                            td 康雅筑・織物地圖、張博傑・真真鑲嵌玻璃研究所、潘子村・村 碟樂
                        tr
                            th 主持人
                            td 洪秉綺
                        tr
                            th 活動連結
                            td(style="text-decoration: underline") 線上報名
                    .row.mt-auto
                        .col-3.number 3
                        .col-9.underline.position-relative: span.
    
    #article.bg-article.container-fluid
        .d-flex.flex-column.justify-content-center.align-items-center 
            .title-box
                h3 專文
                span.
            .article-list
                a(href="#article"): p 敬請期待

    #footer.bg-footer.container-fluid
        .row.h-100.g-0
            .col-md-6.d-flex.justify-content-md-center
                .me-4: b 觀後問卷
                .m-0 請填寫<a href="https://www.surveycake.com/s/WKeRB" target="_blank">線上問卷</a>，回饋您的寶貴意見。
            .col-md-6.d-flex.justify-content-md-center
                .me-4: b 聯絡我們
                .m-0 台灣藝文空間連線TASA協會<br><i>service@tasatw.org</i>


block script
    script.
        $("body").attr("data-bs-target", "#moreNav");
        $("body").attr("data-bs-offset", "300");
        $("body").attr("data-bs-spy", "scroll");
        $("#moreNav .nav-link").on("click", function(e) {
            e.preventDefault()
            $("html, body").animate({scrollTop: $($(this).attr("href")).offset().top - 139}, 40)
        })
        $(".float-box").on("click", function(e) {
            $("html, body").animate({scrollTop: $("#talk").offset().top - 139}, 40)
        })
