extends /en/_layout.pug
append variables
    - title = "林秀蘋(思良)‧BONTE好物金工"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist6.css?version="+timestamp)
append body
    nav#moreNav.nav.fixed-top
        a#tab-1-nav.bg-nav-1.nav-link.active(data-bs-toggle="tab" data-bs-target="#tab-1"  role="tab" aria-controls="tab-1" aria-selected="true")
            h3 Traceback
            span.
        a#tab-2-nav.bg-nav-2.nav-link(data-bs-toggle="tab" data-bs-target="#tab-2"  role="tab" aria-controls="tab-2" aria-selected="false")
            h3 Origin
            span.
        a#tab-3-nav.bg-nav-1.nav-link(data-bs-toggle="tab" data-bs-target="#tab-3"  role="tab" aria-controls="tab-3" aria-selected="false")
            h3 Beginning
            span.
        a#tab-4-nav.bg-nav-2.nav-link(data-bs-toggle="tab" data-bs-target="#tab-4"  role="tab" aria-controls="tab-4" aria-selected="false")
            h3 Heart
            span.
    #goback
        a(href="/"+lang+"/artist/6#works")
            img.w-100(src="/assets/goback.svg?v=1", alt="", srcset="")
    #tab-content.tab-content
        #tab-1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab-1-nav")
            .slogan.align-items-center.text-center.py-5
                p: b "My Womb, My Mother Earth" Art Project
                p When I returned to this series, it was like standing in front of a mirror, naked, and showing my truest desire. This series of works project the passion and power of art from my innermost self.
                p For me, it is impossible to portray or reproduce this series of work.<br>Because the moment it was done, it was done.
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2 About "My Womb, My Mother Earth" Art Project
                        p.
                            Five countries / 200 drawings of the womb / collective creation of 200 volunteers.<br>
                            Original intention: to trace the source of life, to be aware of the connection between the body and the earth.<br>
                            This is an artistic project focusing on the core values of human beings, and about the origin of life.
                    .col-md-8.bg-color-7
                        .box-big.w-100
                            div
                                iframe.w-100.h-100(src='https://www.youtube.com/embed/OLQ_CiGmnMc?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                .row.g-0
                    .col-md-4.bg-color-1: .disc
                        p.small 2015
                        h2 "Return to the Womb" at Bamboo Curtain Studio
                        p From the pain of the body, back to the ocean of the womb, back to the mother's nature, back to the first safe ocean, and then the creation that breaks water.
                    .col-md-8.bg-color-10
                        #carousel1.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="p")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/7.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel1' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel1' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4: .disc 
                        p.small 2015
                        h2 "Twin Snakes Reborn" at Tamsui Environmental Arts Festival
                        p Leaving the mother's body and experiencing an individualized life and death. Such rebirth is a fragile force. It is like a newborn with various possibilities to grow. Such vitality guides us through darkness and light, and eventually leads to an individual that accepts the coexistence of light and shadow. 
                    .col-md-8.bg-color-7
                        #carousel2.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="p")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/7.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel2' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel2' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4.bg-color-1: .disc 
                        p.small 2017
                        h2 "Return to the Nest" at Bamboo Curtain Studio
                        p Incorporating the image of the unity of all things into the creation of "Return to the Nest," the artist transcends the limitations of individualization and connects with all things, and then transforms such perceptions into art. The artist used images from dreams and created a nest together with the audience. It is the nest of all things, and that is the home.
                    .col-md-8.bg-color-10
                        #carousel3.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel3' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel3' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next

        #tab-2.tab-pane.fade(role="tabpanel" aria-labelledby="tab-2-nav")
            .slogan.align-items-center.text-center.py-5
                p.
                    The creative practice is a mysterious journey. It is the image and intuition that appear between blankness and silence after countless accumulations and brewing.<br>
                    And my heart feels a strong calling. Every co-creation, every moment is in this flow, as if I am no longer myself, but the purest existence.
                p.
                    I am grateful and humbly looking back on everything that happened in the past. I sincerely thank every hand, as well as the materials and gifts given by nature, and every one of you who participated. Because of you, there is me.
                p And all the creative processes will eventually flow back to the sea and the heart.
            .works
                .row.g-0
                    .col-md-4: .disc 
                        p.small 2015
                        h2 Return to the Womb
                    .col-md-8.bg-color-7
                        #carousel4.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/5.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel4' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel4' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4.bg-color-1: .disc 
                        p.small 2015
                        h2 Twin Snakes Reborn
                    .col-md-8.bg-color-10
                        #carousel5.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel5' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel5' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4: .disc
                        p.small 2017 
                        h2 Return to the Nest
                    .col-md-8.bg-color-7
                        #carousel6.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel6' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel6' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
        #tab-3.tab-pane.fade(role="tabpanel" aria-labelledby="tab-3-nav")
            .slogan.align-items-center.text-center.py-5
                p "An inner voice started a beautiful journey. I began to travel to different countries, collecting drawings of the womb from men, women, and children all over the world. Out of curiosity, I wanted to know more deeply about the connection between womb, body and the earth. after all, we were all once in the womb.
                p This voice led me into an unknown life journey, allowing me to collect stories from all over the world. These are all the experiences of many lives. There are all kinds of womb stories about sadness, pain, joy, strength, balance, anger. And these feelings are not just for you but for all of us.
                p I keep these drawings in my heart, and each of them reminds me of the creator's face, brushstrokes, stories, and the various emotions they showed while sharing it.
                p Healing started at the moment they drew.
                p And my once-shattered female power grew again
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2  My Womb, My Mother Earth art project – Uterus Painting
                    .col-md-8.bg-color-7
                        #carousel7.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/7.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/8.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel7' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel7' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
        #tab-4.tab-pane.fade(role="tabpanel" aria-labelledby="tab-4-nav")
            .slogan.align-items-center.text-center.py-5
                p My creative practice is an extension from my inner affection. It is the process of transforming thoughts into matter with a sincere and pure intention. As an artist, I am eager to connect with people, to hear different life experiences and emotions, and turn them into art.
                p Inspiration is flowing. I've always been fascinated with space and site. Space is my area of expertise. Building a space allows the viewers to directly enter an experience. However, a site is wider. The amplitude of the sound can vibrate the body directly, directly enter the heart, and bring to mind imaginary pictures. Sounds create sights, forming superimposed spaces. Body performance lets us skip the brain, allow us to engage with ancient flow and expression. These are the possibilities I want to pursue now. As a result, I started "The Wind Brings Mother's Voice" art project in 2020, and the project has continued since then.
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2 "The Wind Brings Mother's Voice - Sound Design & Development Stage" 
                    .col-md-8.bg-color-7
                        .box-big
                            div: a.workbox#playaudio
                                img.w-100.h-100(src="/assets/artist/6/心/1.jpg", alt="", srcset="")
                            audio.mt-4.w-100#audio(src="/assets/artist/6/心/風吹來母親的聲音_Masterd_Qi.mp3" controls controlslist="nodownload nofullscreen noremoteplayback") 
                .row.g-0
                    .col-md-4: .disc 
                        h2 The Wind Brings Mother's Voice
                        p.
                            "Mothers across different generations sing together the healing web of voices,
                            The wind brings the mother's voice, and sprinkles on the ground like light,
                            When you listen carefully, you hear the endless secrets,
                            you hear the comfort, you hear the light. The familiar melody is always there.
                            Let us wake up the old tune together,
                            Voice from mothers."
                    .col-md-8.bg-color-7
                        .box-big.w-100
                            div
                                iframe.w-100.h-100(src='https://www.youtube.com/embed/I3nTatxT4sU?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                            p.p-4.
                                A film by LIN Hsiu Ping
append script
    script(src="/assets/js/artist.js")
    script.
        $("#playaudio").on("click", function(e) {
            $("#audio")[0].play()
        })