extends /_layout.pug
block variables
    - title = "黃虹毓‧土星工作室"
block head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist3.css?version="+timestamp)
block body
    #top-anim
        iframe.w-100.h-100(src="anim.html", frameborder="0") 
    .slogan.align-items-center.text-center
        h2 看著土的狀態，就像看著自己走過的路程。
        h6 黃虹毓
    .works
        .modal.fade#workModal(tabindex='-1' aria-hidden='true')
            .modal-dialog.modal-fullscreen
                .modal-content
                    .modal-body.d-flex.justify-content-center.align-items.center
                        #workImage: div.img-box
                            img(src="", alt="", srcset="")
                            a#close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                svg.w-100.h-100(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='currentColor')
                                    // ! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. 
                                    path(d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z')
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 四顆原土
                p 原土，指的是野土，直接在不同地區的土地上採集而來。左至右分別採集自阿里山茶山村、台東都蘭鎮、台東東河、桃園林口。收集後用水融化，再將其過篩處理成可以捏塑的土。在這個狀態下土的變化與其實際被使用的狀態也有關聯。
            .col-md-8
                .box-big.bg-color-4.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/vVYU_-WJ3pQ?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 Life
                p.
                    指的也是土的生命。<br>
                    水是做陶時主要的互動以及調整的關鍵。水讓我看到土的生命狀態，在過程中柔軟濕潤的土也是最療癒的時刻。
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/G0ZTmg5P4ts?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 聲音
                p 聲音是空氣與水的互動，表示燒結之前我還可以改變它很多的狀態。
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/UKazydUZr2I?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 陶的三個狀態
                p.
                    我將陶製作過程中最常見的三個狀態，放在水中，由上至下排列，分別是高溫燒結的陶瓷容器、土在常溫下被捏塑完成的容器、低溫燒成還是很透氣的容器。水是製作過程中最常使用的媒介，能最清楚的呈現陶的狀態。
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/_p6hAXQqUrk?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 平衡
                p 滾動撞擊，代表我過去在做實用陶的過程中，試圖找尋一種實用與創作的平衡。
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/jLdnoMCzCEo?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 片段
                p.
                    搖晃的聲音可判斷容器裡的水量有多少，越大聲表示水量越少，裡面是陶球，這個靈感來自之前去居酒屋，他們用的酒器會這樣發出聲音，是我使用器皿經驗的小片段，當老闆敘述使用酒器的實用方式時，我感受到他的生活。<br><br>
                    陶器最終燒製成型後，如何被使用即是一種回歸到生活的狀態。<br><br>
                    用陶杯喝水，以陶碗吃飯，再平凡不過的生活方式，最容易被忘記。在看到其他文化的使用方式，我突然想起被遺忘的生活感。所以敘述了這樣的生活片段。這也是陶在我生活中的不斷循環的生命感。

            .col-md-8.bg-color-5.d-flex.align-items-center
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/CtCyn4e7R9A?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p 陶對我來說最療癒的，其實是燒結成陶瓷前的那些「過程」。以往我通常只能給別人看到結果，但這次展出的作品讓我放肆地、回到最初被療癒的狀態。
                p 我將我所收集的土，分成五個階段：原土、塑形、低溫燒(還可吸水的狀態)、高溫燒(燒結)，試圖呈現在這些過程中我感受到的療癒，像是土的生命狀態，也如同我生活的樣貌。
                p 我以「life」作為這次的作品主題，我不想以太嚴肅的方式來敘述，life 指的是生活的過程。土是有記憶的，記錄著我用了多少時間以及力量去捏塑調整，土記錄了我每個時刻的狀態。看著土的狀態，就像看著自己走過的路程。
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b 黃虹毓
                p 陶藝創作者，現為土星工作室主理人，畢業於國立台南藝術大學應用藝術研究所。2015年至美國Baltimore Clayworks 駐村，2018年至荷蘭Sunday Morning, European Ceramic Work Center，是文化部選送文化人才出國駐村首位至此荷蘭陶藝中心之創作者。回國後投入土星工作室之空間建構、推廣陶藝之創作、藝術家協作計畫等。
                a(href="https://jerry79725.easy.co/" target="_blank") 更了解藝術家
block script
    script(src="/assets/js/artist.js") 