extends /_layout.pug
block variables
    - title = "林秀蘋(思良)‧BONTE好物金工"
block head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist6.css?version="+timestamp)
block body
    #top-anim
        iframe.w-100.h-100(src="anim.html", frameborder="0") 
    .slogan.align-items-center.text-center
        h3 我那曾經破碎的女性力量，再度長出來。
        h6 林秀蘋(思良)
    .works
        .w-100
            img.w-100(src="/assets/artist/6/封面.jpg", alt="", srcset="")
        .row.bg-color-4.g-0#works
            .col-md-6.outer-box
                a(href="1"): .box-left.bg-color-5
                    h3 女人三
                    p 這系列作品象徵女性的三個階段。
                    .title-box
                        h3 金工創作
                        span.underline.
            .col-md-6.outer-box
                a(href="2"): .box-right.bg-color-7
                    table
                        tr
                            td.pe-3: span.marker1
                            td
                                h3 溯
                                p 而溯只是來到最初，那充滿無限可能的自己。
                        tr
                            td: span.marker2
                            td
                                h3 本
                                p 不斷的經驗我的過程：實踐與共同創造。
                        tr
                            td: span.marker3
                            td
                                h3 初
                                p 最炙熱的心。
                        tr
                            td: span.marker4
                            td
                                h3 心
                                p 打破創作的疆界，展現不同的存在樣貌。
                    .title-box
                        h3 藝術計畫
                        span.underline.
        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p.
                    "在深幽的洋水裡我存在著，<br>
                    在不思議的雲海裡我存在著，<br>
                    在無數妝點的花叢裡，我在這，<br>
                    地上的塵埃是我也是你，<br>
                    天空閃爍的星辰，葉梢光影的綻放，<br>
                    手掌的線條，眼尾的皺褶，<br>
                    每個片刻都有我的姿態，我的聲音，<br>
                    所有的巧合都不是巧合，都是被選擇的，<br>
                    孩子，走在這條路上，不要忘記，<br>
                    妳/你的根，妳/你的源。"
                p 創作對我來說，就是一面鏡子，映照我是誰？我的根，我的源。從過去的金工作品《女人三》到《我的子宮，我的大地母親》藝術計劃，其實探尋的是生命的源頭，心的創造。
                p 經過四年的藝術計畫，逐漸感知這是一趟走入內在的創作實踐，對我而言，這是一趟無與倫比的療癒歷程，我那曾經破碎的女性力量，再度長出來，只因一種內在信心，一種堅定的力量，一種想要分享的心念。因為我們總是忘紀自己也是自然的一部分，萬物含納，牽成一體，子宮是女性的根源；連結至一花一木，大山大海及動物力量，這些野性之美來自大地的孕育，將這樣的回溯獻給藝術計劃。

        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b 林秀蘋(思良)‧BONTE好物金工
                p 不斷突破創作疆界，以金工為創作起點，秉持「用雙手實踐，用感受去感受」的態度，2013年起陸續自創品牌、發起藝術專案。透過實踐，以手帶領心，將創意與美感帶入社會。近年走入森林採集大地素材，感受自然野性之美；2015-2017 年創作一系列大型雕塑，以女性子宮為原點長出源源不絕的生命力，邀請女人、小孩、男人共同創造參與「我的子宮，我的大地母親」藝術計劃，同時跨入策展，空間設計等領域。
                a(href="http://www.bontehandmadejewelry.com/" target="_blank") 更了解藝術家
block script
    script(src="/assets/js/artist.js")