.bg-color-1 {
  background-color: #F6E9D0;
}

.bg-color-2 {
  background-color: #EFE3D8;
}
.bg-color-2.about span {
  width: 10rem;
  background-color: #D1C9C1;
}

.bg-color-3 {
  background-color: #D6CDC5;
}
.bg-color-3.artist span {
  width: 12.5rem;
  background-color: #EEDDCD;
}

.bg-color-4 {
  background-color: #97CFFF;
}

.bg-color-5 {
  background-color: #75B5E3;
}

.bg-color-6 {
  background-color: #ECEBED;
}

.carousel {
  background: linear-gradient(90deg, #FBE4E8 50%, #E5E7FA 50%);
}
.carousel.revert-bg {
  background: linear-gradient(270deg, #FBE4E8 50%, #E5E7FA 50%);
}