.bg-color-1 {
  background-color: #F6E9D0;
}

.bg-color-2 {
  background-color: #EFE3D8;
}
.bg-color-2.about span {
  width: 10rem;
  background-color: #D1C9C1;
}

.bg-color-3 {
  background-color: #D6CDC5;
}
.bg-color-3.artist span {
  width: 12.5rem;
  background-color: #EEDDCD;
}

.bg-color-4 {
  background-color: #D2D6D7;
}

.bg-color-5 {
  background-color: #D1DFDF;
}

.bg-color-6 {
  background-color: #ECEBED;
}

.box-big > div {
  width: calc(37vw - 4.5rem);
  margin: auto;
}

@media (max-width: 767px) {
  .box-big > div {
    width: calc(56vw - 2rem);
  }
}