h1, h2, h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

.btn-purple {
  background-color: #EDE9FE;
}
.btn-purple:hover {
  outline: 2px solid #7C3AED;
}

body {
  position: relative;
  background-color: #FFF8E7;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

#bodyOffset {
  height: 4rem;
}

.navbar.navbar-light {
  z-index: 1050;
  height: 4rem !important;
  background-color: #FFFAEF;
  padding: 0.5rem 0.5rem;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
}
.navbar.navbar-light .link-box {
  height: min-content;
  padding-top: 0.25rem;
}
.navbar.navbar-light a {
  font-weight: 500;
}
.navbar.navbar-light a.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 4rem;
  padding: 0;
}
.navbar.navbar-light a.nav-link {
  color: #333;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  transition: 0s;
  outline: 0;
}
.navbar.navbar-light a.dropdown-item {
  padding: 0.25rem 0.5rem;
}
.navbar.navbar-light a.nav-link:focus, .navbar.navbar-light a.dropdown-item:focus {
  color: #333;
}
.navbar.navbar-light a.nav-link:link, .navbar.navbar-light a.nav-link:visited, .navbar.navbar-light a.dropdown-item:link, .navbar.navbar-light a.dropdown-item:visited {
  border-bottom: 2px solid transparent;
}
.navbar.navbar-light a.nav-link:link:hover, .navbar.navbar-light a.nav-link:visited:hover, .navbar.navbar-light a.dropdown-item:link:hover, .navbar.navbar-light a.dropdown-item:visited:hover {
  color: #333;
  border-bottom: 2px solid #7C3AED;
}
.navbar.navbar-light a.btn {
  margin-left: 1.5rem;
  height: min-content;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
}

.dropdown-menu {
  background-color: #FFFAEF;
  border: 0;
  padding: 1rem 2rem;
  margin-left: -2rem !important;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}