doctype
html(lang="zh-Hant-TW")
    head
        //網頁程式設計－位元創意有限公司
        title 《鏡子》療癒工藝線上展 - Mirror — An Online Exhibition about the Craft of Healing
        meta(property="og:image" content="/assets/overlay.png")
        meta(name="description" content="《鏡子》療癒工藝線上展 - Mirror — An Online Exhibition about the Craft of Healing")
        link(rel="shortcut icon" type="image/png" href="/assets/favicon.png")
    body   
        script.
            var userLang = navigator.language || navigator.userLanguage; 
            if(userLang.indexOf('zh') >= 0) {
                window.location.replace("/zh_tw")
            }