extends /_layout.pug
block variables
    - title = "首頁"
block head
    link(rel="stylesheet" href="/assets/css/main.css?version="+timestamp)
block body
    #main-top.container-fluid.g-0 
        .row.g-0.h-100
            .col-4(style="background-image: url('/assets/main1.png')")
            .col-4(style="background-image: url('/assets/main2.png')")
            .col-4(style="background-image: url('/assets/main3.png')")
    #main-video: .d-flex.flex-column.justify-content-center.align-items-center
            .iframe-box
                iframe.w-100.h-100(src='https://www.youtube.com/embed/wckrDIXCNhM?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    #main-bottom: .container-fluid
        .row.mb-5.g-0.justify-content-center
            .col-md-6.text-center.disc
                h6 舞蹈生態系創意團隊
                h1 擁抱
                p 《療癒工藝影片－擁抱》由舞蹈生態系創意團隊製作，以工藝類藝術家之創作過程出發，從聲動、觸動、時光、共生四子題切入，紀錄藝術家於創作過程中的轉折、因不同事件所產生的身體律動、感知及心境變化，並轉為結合舞蹈影像的紀錄片方式訴說。
        .row.gx-4.gy-5.justify-content-center.align-items-center
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/_ELNSZ8cezc?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧聲動
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/6ZhvuplH-Lk?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧觸動
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/yV-HpJqUKYo?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧共生
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/TwfS52a4suA?rel=0&modestbranding=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 擁抱‧時光

    #footer: .container-fluid
        .row.h-100.gx-4.justify-content-center
            .col-md-5.d-flex
                b 聯絡我們
                div 台灣藝文空間連線TASA協會<br><i>service@tasatw.org</i>
            .col-md-5.d-flex.flex-column
                p <b>指導單位</b>文化部、國立台灣工藝研究發展中心
                p <b>主辦單位</b>台灣藝文空間連線TASA協會
                p <b>策展協力</b>自己人策展團隊
                p <b>媒體協力</b>典藏Artouch、Arttime藝術網
                p <b>場地協力</b>或者工藝櫥窗、節點、了了空間