extends /en/_layout.pug
append variables
    - title = "KANG Ya-Chu‧Textile Map"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist5.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/5/anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p Try to move the purple dot
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 With seven records, I imagine and compose the rhythm of the week in my head, and the record that carries the artist's consciousness could then continue playing.
        h6 KANG Ya-Chu
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧7'35''
                h2 When the Stream of Consciousness Spins
                p Single-channel video (vinyl record, record player, multi-fibre, string, cotton)
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/4lkXQTDzazI?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                #carouselDisc.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            p.small 2022
                            h2 Monday<br>Artist's Life
                            p Johann Strauss II: Künstlerleben, Op. 316
                        .carousel-item
                            p.small 2022
                            h2 Tuesday<br>Sell My soul for you
                            p Teri Desario
                        .carousel-item
                            p.small 2022
                            h2 Wednesday<br>The Night of the South
                            p Asia Record, 33 1/3 Long play record
                        .carousel-item
                            p.small 2022
                            h2 Thursday<br>Trends of Thought
                            p Chih-Yunn Prize 3
                        .carousel-item
                            p.small 2022
                            h2 Friday<br>The Flow of Dreams & Travelers of Reminiscence
                            p Concerto Saint-Preux
                        .carousel-item
                            p.small 2022
                            h2 Saturday<br>Deep in the Dark
                            p Make Your Move, by Captain & Tennille
                        .carousel-item
                            p.small 2022
                            h2 Sunday<br>What Will You Do on Sunday
                            p &nbsp;
            .col-md-8.bg-color-4
                #carouselImg.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/1.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/2.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/3.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/4.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/5.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/6.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/7.jpg')
                    button.carousel-control-prev(data-bs-target='#carouselImg' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carouselImg' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p The vinyl record is a carrier of acceptance and release. I imagine the melody by looking at the tracks on the record, composing the rhythm of the week in my head. The melody was extended from the idea that a spinning thread flows into the heart. The tracks respectively are: Artist's Life, Sell My Soul for You, The Night of the South, Trends of Thought, The Flow of Dreams & Travelers of Reminiscence, Deep in the Dark, and What Will You Do on Sunday. The tracks were chosen to interpret states, such as interiority, mind, period, cycle, etc. Through weaving, embroidery, winding, etc., I make colors, light, fibers and materials meet, letting these elements overlap, intertwine, communicate and flow with each other. The moment I put down a record, I activate my consciousness. Just like blood circulating in my brain and body, senses such as sight, hearing, touch, etc. are once again awakened. The record that carries the artist's consciousness could then continue playing. This is a song about cranial nerves, perception, silence, meditation and rumination.
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b KANG Ya-Chu‧Textile Map
                p KANG Ya-Chu is a cross-disciplinary artist working with multi-media. She takes the tracks of fibers and weaving threads as a path to thought, navigating and locating herself through field works, archival materials, and raised propositions. She then looks back at the particularity and difference of her own cultural background to understand the present moment she settles in. In her works, Kang questions topics such as globalization and environmental issues, and explores the relationship between craftsmanship and physical labor, living conditions, migration, economic trade and social structure. She also examines the alternation, interweaving and tensions between global and local cultures by taking the history of global textile culture and the representation of contemporary social behavior as a foundation. Kang's works range from sculptures, site specific installations, environmental art, textiles, and paintings to sound videos.
                a(href="https://yachukang.com/" target="_blank") More
append script
    script(src="/assets/js/artist.js")
    script.
        $( document ).ready(function() {
            startItro(2000);
        })
        let carouselDisc = new bootstrap.Carousel($("#carouselDisc").first(), {
        })
        $("#carouselImg").on("slide.bs.carousel", function(e) {
            console.log(e)
            carouselDisc.to(e.to)
            carouselDisc.pause()
        })