.bg-color-1 {
  background-color: #F6E9D0;
}

.bg-color-2 {
  background-color: #EFE3D8;
}
.bg-color-2.about span {
  width: 10rem;
  background-color: #D1C9C1;
}

.bg-color-3 {
  background-color: #D6CDC5;
}
.bg-color-3.artist span {
  width: 12.5rem;
  background-color: #EEDDCD;
}

.bg-color-4 {
  background-color: #9D9EA0;
}

.bg-color-5 {
  background-color: #F8D9D5;
}
.bg-color-5 span.underline {
  background-color: #FFFFFF;
}

.bg-color-6 {
  color: white;
  background-color: #B2ABA4;
}

.bg-color-7 {
  background-color: #EFEFEF;
}
.bg-color-7 span.underline {
  background-color: #F8D9D5;
}

.bg-color-8 {
  background-color: #F6E7E5;
}

.bg-color-9 {
  background-color: #FBDFDB;
}

.bg-color-10 {
  background-color: #E6E6E6;
}

.bg-nav-1 {
  background-color: #F5EDE6;
}

.bg-nav-2 {
  background-color: #EFE3D8;
}

#moreNav {
  top: 4rem;
}

#moreNav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-bottom: 1.5rem;
  border-radius: 0;
  flex: 1 1 auto;
  text-align: center;
  cursor: pointer;
}
#moreNav .nav-link h3 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 3rem;
  color: rgba(68, 68, 68, 0.25) !important;
}
#moreNav .nav-link span {
  width: 4rem;
  display: block;
  height: 1rem;
  border-radius: 0.5rem;
  margin-top: -2.25rem;
  filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.25));
  background-color: #D1C9C1;
}
#moreNav .nav-link.active h3 {
  color: #444 !important;
}

#goback {
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: -0.5rem;
  top: 33vh;
  z-index: 1050;
}

#tab-content {
  margin-top: 4rem;
}

.works td {
  vertical-align: text-top;
}
.works .marker1, .works .marker2, .works .marker3, .works .marker4 {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}
.works .marker1 {
  background: radial-gradient(75% 75% at 50% 50%, #E46B7F 0%, #E46B7F 34.57%, rgba(228, 107, 127, 0) 100%);
}
.works .marker2 {
  background: radial-gradient(75% 75% at 50% 50%, #F3DA8D 0%, #F3DA8D 34.57%, rgba(243, 218, 141, 0) 100%);
}
.works .marker3 {
  background: radial-gradient(75% 75% at 50% 50%, #778BA6 0%, #85A8D8 34.57%, rgba(133, 168, 216, 0) 100%);
}
.works .marker4 {
  background: radial-gradient(75% 75% at 50% 50%, #B0DC53 0%, #B0DC53 34.57%, rgba(176, 220, 83, 0) 100%);
}
.works .outer-box {
  height: 50vw;
  padding: 3rem;
}
.works .outer-box a:link, .works .outer-box a:visited {
  color: #484646;
  text-decoration: none;
}
.works .outer-box .box-left, .works .outer-box .box-right {
  height: 100%;
  width: 100%;
  padding: 3rem;
  border-radius: var(--radius-value);
  position: relative;
}
.works .outer-box .box-left p, .works .outer-box .box-right p {
  margin-bottom: 0.75rem;
}
.works .outer-box .box-left h3, .works .outer-box .box-right h3 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.works .outer-box .box-left .title-box, .works .outer-box .box-right .title-box {
  color: #9B9C9E;
  position: absolute;
  bottom: 2rem;
}
.works .outer-box .box-left .title-box span, .works .outer-box .box-right .title-box span {
  display: block;
  height: 1rem;
  width: 7rem;
  border-radius: 0.5rem;
  margin-left: -0.5rem;
  margin-top: -1rem;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.25));
}
.works .outer-box .box-left:hover, .works .outer-box .box-right:hover {
  transition: 0.3s;
  transform: translate(-3px, -3px);
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.25));
}
.works .outer-box .box-left .title-box {
  left: 3rem;
}
.works .outer-box .box-right {
  padding-bottom: 4rem;
}
.works .outer-box .box-right .title-box {
  right: 3rem;
}

.en #moreNav .nav-link span {
  width: 9rem;
}
.en .works .outer-box .box-left .title-box span, .en .works .outer-box .box-right .title-box span {
  width: 9rem;
}

@media (min-width: 1200px) {
  #works {
    padding: 4vw;
  }

  .works .outer-box {
    height: 46vw;
  }
}
@media (max-width: 767.98px) {
  .works .outer-box {
    height: 100vw;
    padding: 1rem;
  }
  .works .outer-box .box-left, .works .outer-box .box-right {
    padding: 2rem;
    padding-bottom: 5rem;
  }
  .works .outer-box .box-left .title-box {
    left: 2rem;
  }
  .works .outer-box .box-right .title-box {
    right: 2rem;
  }

  .en #tab-content {
    margin-top: 8rem;
  }
}