h1, h2, h3 {
  margin-bottom: 1rem;
}

.btn-purple {
  background-color: #EDE9FE;
}
.btn-purple:hover {
  outline: 2px solid #7C3AED;
}

body {
  background-color: #FFF8E7;
  font-family: "Noto Sans TC", sans-serif;
}

.nav {
  background-color: #FFFAEF;
  padding: 0.5rem 0.5rem;
}
.nav .link-box {
  height: min-content;
  padding-top: 0.25rem;
}
.nav a {
  color: #333;
  font-weight: 500;
}
.nav a.navbar-brand {
  font-size: 2rem;
  padding: 0;
}
.nav a.nav-link:focus, .nav a.dropdown-item:focus {
  color: #333;
}
.nav a.nav-link:link, .nav a.nav-link:visited, .nav a.dropdown-item:link, .nav a.dropdown-item:visited {
  border-color: #7C3AED;
}
.nav a.nav-link:link:hover, .nav a.nav-link:visited:hover, .nav a.dropdown-item:link:hover, .nav a.dropdown-item:visited:hover {
  color: #333;
  border-bottom: 2px solid #7C3AED;
}
.nav a.btn {
  margin-left: 1.5rem;
  height: min-content;
}

.dropdown-menu {
  background-color: #FFFAEF;
  border: 0;
  padding: 1rem;
  margin-left: -1rem !important;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

#top-anim {
  height: calc(100vh - 4rem);
  background-color: white;
}

#slogan {
  padding: 4rem 2rem;
  color: white;
  background-color: #1A051D;
}
#slogan h6 {
  font-weight: lighter;
  padding-top: 1rem;
}

.modal-content {
  background-color: transparent;
}
.modal-content #workImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60%;
  height: 70%;
  margin: auto;
}
.modal-content #close {
  display: block;
  position: absolute;
  bottom: 7%;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding: 0.5rem;
  transition: 0.3s;
}
.modal-content #close:hover {
  color: #7C3AED;
}

#works .disc {
  padding: 4rem 3rem;
}
#works .disc .small {
  color: #9D9EA0;
}
#works .disc p {
  padding-left: 0.25rem;
}
#works .disc p, #works .disc h2 {
  margin-bottom: 0.25rem;
}
#works .disc .about {
  color: white;
  font-weight: 500;
}
#works .bg-rice {
  background-color: #F6E9D0;
}
#works .bg-darkrice {
  background-color: #EFE3D8;
}
#works .bg-darkrice .about {
  border-color: #D1C9C1;
}
#works .bg-darkrice2 {
  background-color: #D6CDC5;
}
#works .bg-darkrice2 .about {
  border-color: #EEDDCD;
}
#works .bg-pink {
  background-color: #FFE8DA;
}
#works .bg-sky {
  background-color: #D5FAFC;
}
#works .bg-lightpurple {
  background-color: #ECEBED;
}
#works a.workbox img {
  transition: 0.3s;
}
#works a.workbox:hover img {
  transform: scale(1.1);
}
#works .carousel {
  background: linear-gradient(90deg, #FFE8DA 50%, #D5FAFC 50%);
}
#works .carousel.revert-bg {
  background: linear-gradient(270deg, #FFE8DA 50%, #D5FAFC 50%);
}
#works .carousel .carousel-control-next, #works .carousel .carousel-control-prev {
  width: 8%;
}
#works .carousel .carousel-control-next-icon {
  background-image: url("/assets/angle-right-solid.svg");
}
#works .carousel .carousel-control-prev-icon {
  background-image: url("/assets/angle-left-solid.svg");
}
#works .carousel .carousel-control-next-icon, #works .carousel .carousel-control-prev-icon {
  filter: brightness(1.2) drop-shadow(0px 2px 2px rgba(72, 70, 70, 0.5));
  width: 3rem;
  height: 3rem;
}
#works .carousel .carousel-left div {
  border-radius: 1rem 0 0 1rem;
}
#works .carousel .carousel-right div {
  border-radius: 0 1rem 1rem 0;
}
#works .carousel .carousel-left, #works .carousel .carousel-right {
  padding: 4rem;
}
#works .carousel .carousel-left div, #works .carousel .carousel-right div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 0.75;
}
#works .box-big {
  padding: 4rem;
}
#works .box-big div {
  aspect-ratio: 1.77;
  border-radius: 1rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  #works .disc {
    padding: 4rem 2rem;
  }
  #works .carousel .carousel-left, #works .carousel .carousel-right {
    padding: 2rem;
  }
  #works .box-big {
    padding: 2rem;
  }
}