:root {
  --radius-value: 3rem;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

th {
  vertical-align: top;
  font-weight: 400;
  border-right: 1rem solid transparent;
}

td {
  vertical-align: top;
}

a:focus, button:focus {
  box-shadow: none !important;
}

.text-center p {
  text-align: center;
}

.btn-purple {
  background-color: #EDE9FE;
  border: 2px solid transparent;
}
.btn-purple:hover {
  border: 2px solid #7C3AED;
}

body {
  position: relative;
  background-color: #FFF8E7;
  letter-spacing: 0.5px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  overflow: auto;
  color: #484646;
}

#loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999999999;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background-color: rgba(255, 226, 170, 0.25);
}
#loading img {
  position: absolute;
  height: 6rem;
  margin: auto;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
}

#bodyOffset {
  height: 4rem;
}

.navbar.navbar-light {
  z-index: 1056;
  background-color: #FFFAEF;
}
.navbar.navbar-light .navbar-toggler-burger {
  height: 2.5rem;
  width: 3rem;
  padding: 0;
  position: relative;
}
.navbar.navbar-light .navbar-toggler-burger span {
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 1rem);
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #666;
  border-radius: 2px;
  transition: 0.3s;
}
.navbar.navbar-light .navbar-toggler-burger span::before {
  content: "";
  position: absolute;
  margin-top: -8px;
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #666;
  border-radius: 2px;
  transition: 0.3s;
}
.navbar.navbar-light .navbar-toggler-burger span::after {
  content: "";
  position: absolute;
  margin-top: 8px;
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #666;
  border-radius: 2px;
  transition: 0.3s;
}
.navbar.navbar-light .navbar-toggler-burger.clicked span {
  background-color: transparent;
}
.navbar.navbar-light .navbar-toggler-burger.clicked span::before {
  transform: translate(0px, 8px) rotate(45deg) scale(0.75);
}
.navbar.navbar-light .navbar-toggler-burger.clicked span::after {
  transform: translate(0px, -8px) rotate(-45deg) scale(0.75);
}
.navbar.navbar-light .link-box {
  height: min-content;
  padding-top: 0.25rem;
}
.navbar.navbar-light a {
  font-weight: 500;
  color: #484646;
}
.navbar.navbar-light a.navbar-brand {
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 4rem;
  padding: 0;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.navbar.navbar-light a.navbar-brand:hover {
  transition: 0.5s;
  background: linear-gradient(91.3deg, rgba(124, 58, 237, 0.8) -30.43%, #8CDFFA 63.6%, rgba(124, 58, 237, 0.5) 103.39%, rgba(124, 58, 237, 0.9) 129.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.navbar.navbar-light a.nav-link {
  color: #484646;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  transition: 0s;
  outline: 0;
}
.navbar.navbar-light a.nav-link:focus, .navbar.navbar-light a.dropdown-item:focus {
  color: #484646;
}
.navbar.navbar-light a.nav-link:link, .navbar.navbar-light a.nav-link:visited, .navbar.navbar-light a.dropdown-item:link, .navbar.navbar-light a.dropdown-item:visited {
  border-bottom: 2px solid transparent;
}
.navbar.navbar-light a.nav-link:link:hover, .navbar.navbar-light a.nav-link:link.active, .navbar.navbar-light a.nav-link:visited:hover, .navbar.navbar-light a.nav-link:visited.active, .navbar.navbar-light a.dropdown-item:link:hover, .navbar.navbar-light a.dropdown-item:link.active, .navbar.navbar-light a.dropdown-item:visited:hover, .navbar.navbar-light a.dropdown-item:visited.active {
  background-color: transparent;
  color: #7C3AED !important;
  border-color: transparent !important;
}
.navbar.navbar-light a.btn {
  padding: 0.4rem 0.5rem;
  height: min-content;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
  z-index: 1;
  word-break: keep-all;
}
.navbar.navbar-light .dropdown-menu {
  background-color: #FFFAEF;
  border: 0;
  padding: 1rem 2rem;
  margin-left: -2rem !important;
  z-index: -1;
}
.navbar.navbar-light .dropdown-menu .dropdown-item:focus, .navbar.navbar-light .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.navbar.navbar-light .dropdown-menu.lang-dropdown {
  right: 0;
  left: auto;
  padding: 1rem;
  min-width: 5rem;
}

#workModal {
  z-index: 1058;
}
#workModal #workImageBox {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 85vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#workModal #workImageBox .img-box {
  position: relative;
}
#workModal #workImageBox img {
  max-height: 100%;
  max-width: 100%;
  border-radius: var(--radius-value);
  filter: drop-shadow(0px 6px 40px rgba(0, 0, 0, 0.5));
}

#helpModal {
  margin-top: 2rem;
  transition: 0.3s;
  background-color: white;
  background-image: url("/assets/overlay.png");
  background-size: cover;
  background-position: center center;
}
#helpModal #helpBox {
  margin: auto;
  position: relative;
  padding: 6vh 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-value);
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}
#helpModal #helpBox > div {
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.25));
  padding: 1rem;
}

.modal-backdrop.fade, .offcanvas-backdrop.fade {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-backdrop.show, .offcanvas-backdrop.show {
  opacity: 1;
}

.modal-content {
  background-color: transparent;
}
.modal-content .close-button {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
  line-height: 0.85rem;
  transition: 0.3s;
  color: #666;
  cursor: pointer;
}
.modal-content .close-button:hover {
  color: #7C3AED;
  background-color: white;
}

@media (min-width: 768px) {
  #workImageBox .img-box {
    height: 100%;
  }

  .navbar.navbar-light {
    height: 4rem !important;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
  }
}
@media (max-width: 767.98px) {
  :root {
    --radius-value: 2rem;
  }

  #navOffcanvas .link-box {
    padding-bottom: 0.75rem;
  }
  #navOffcanvas .dropdown-menu {
    background-color: transparent;
  }
  #navOffcanvas .dropdown-menu.lang-dropdown {
    margin-left: 1.5rem !important;
    padding: 1rem 0 0 0;
  }
  #navOffcanvas .dropdown-menu.lang-dropdown .dropdown-item {
    padding: 0.25rem 0;
  }
  #navOffcanvas.offcanvas {
    max-width: 101%;
    width: 101%;
    height: max-content;
    background-color: #FFFAEF;
    margin-top: 3.8rem;
  }

  .offcanvas-backdrop {
    margin-top: 4rem;
  }
}