#main-top {
  height: calc(100vh - 4rem);
}
#main-top .col-4 {
  background-position: center center;
  background-size: cover;
}

#main-video {
  background-color: #ECEBED;
  padding: 5rem;
}
#main-video .iframe-box {
  border-radius: var(--radius-value);
  overflow: hidden;
  height: 40.5vw;
  width: 72vw;
}

#main-bottom {
  background-color: #FFF8E7;
  padding: 3rem 0;
}
#main-bottom .disc h6 {
  color: #999;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
#main-bottom .disc p {
  font-weight: bolder;
}
#main-bottom .box {
  display: flex;
  flex-direction: column;
  position: relative;
}
#main-bottom .box .iframe-box {
  border-radius: var(--radius-value);
  overflow: hidden;
  width: 100%;
  height: 22vw;
}
#main-bottom .box h6 {
  padding-top: 1rem;
}

#footer {
  background-color: #B2ABA4;
  padding: 3rem 0;
  color: white;
}
#footer b {
  padding-right: 1.5rem;
}
#footer a:link, #footer a:visited {
  color: white;
}
#footer a:link:hover, #footer a:visited:hover {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  #main-video {
    padding: 3rem 0.75rem;
  }
  #main-video .iframe-box {
    width: 100%;
    height: 52vw;
  }

  #main-bottom .box .iframe-box {
    height: 52vw;
  }

  #footer .col-md-5 {
    margin-bottom: 3rem;
  }
}