extends /en/_layout.pug
append variables
    - title = "LIN Hsiu-Ping‧BONTE Handmade Jewelry"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist6.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/6/anim.html", frameborder="0") 
    .slogan.align-items-center.text-center
        h3 My once-shattered female power grew again.
        h6 LIN Hsiu-Ping
    .works
        .w-100
            img.w-100(src="/assets/artist/6/封面.jpg", alt="", srcset="")
        .row.bg-color-4.g-0#works
            .col-md-6.outer-box
                a(href="1"): .box-left.bg-color-5
                    h3 Origin
                    p This series of works symbolizes the three stages of a woman's life.
                    .title-box
                        h3 Metalwork
                        span.underline.
            .col-md-6.outer-box.h-auto
                a(href="2"): .box-right.bg-color-7
                    table
                        tr
                            td.pe-3: span.marker1
                            td
                                h3 Traceback
                                p It simply comes back to the beginning, to the self that is full of infinite possibilities.
                        tr
                            td: span.marker2
                            td
                                h3 Origin
                                p The process of continuously experiencing self: practice and co-creation.
                        tr
                            td: span.marker3
                            td
                                h3 Beginning
                                p The warmest heart.
                        tr
                            td: span.marker4
                            td
                                h3 Heart
                                p Break the boundaries of art to show different forms of existence.
                    .title-box
                        h3 Art Project
                        span.underline.
        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p.
                    "I exist in the deep water of the ocean..<br>
                    I exist in the incredible sea of clouds.<br>
                    I am here among the countless adorned flowers,<br>
                    The dust on the ground is me and is you,<br>
                    The twinkling stars in the sky, the blossoming of light and shadow on the blade tips,<br>
                    The lines of the palms, the wrinkles at the end of the eyes,<br>
                    Every moment has my gesture, my voice.<br>
                    All coincidences are not coincidences, they are all chosen.<br>
                    On this road, child, don't forget,<br>
                    Your root, your source."
                p For me, creative practice is like a mirror, reflecting who I am, where my root is, where I come from. From previous goldsmith work "Origin," to the art project "My Womb, My Mother Earth," what I seek is actually the source of life, the creation of the heart.
                p After a four-year art project, I gradually realized that this is a creative practice of walking into the inner-self. For me, it has been an unparalleled journey of healing. My once-shattered female power grew again, only because of an inner confidence, a steadfast strength, and a desire to share. We forget that we are also a part of nature, and all things are contained and integrated. The womb is the root of a woman. Connecting to flowers and trees, mountains and seas, and animal power, these wild beauties come from the nurture of the earth, and I dedicate this retrospective to the art project.

        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b LIN Hsiu-Ping‧BONTE Handmade Jewelry
                p LIN Hsiu-Ping continues to break through boundaries with her creative practice. Starting with metalworking and adhering to the attitude of"practice with both hands and feel with senses,"she has been successively establishing her own brands and launching art projects since 2013. Through her practice, she leads her heart with her hands, and brings creativity and beauty into society. In recent years, Lin has walked into the forest to collect materials and felt the wild beauty of nature. From 2015 to 2017, she created a series of large-scale sculptures, taking the concept of the womb as the origin to source an uninterrupted flow of vitality. Lin invited women, children and men to co-create and participate in the art project"My Womb, My Mother Earth". She is also active in the fields of curation, spatial design, etc.
                a(href="http://www.bontehandmadejewelry.com/" target="_blank") More
append script
    script(src="/assets/js/artist.js")