extends /en/_layout.pug
append variables
    - title = "PAN Tzu-Tsun‧Tzun's Pan Sound Sculptures"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist2.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/2/anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p  Try to tap any dot
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 With its pure, gentle yet strange appearance,the drum vibrates the sounds of the nature, and carries and translates the sounds from heaven.
        h6 PAN Tzu-Tsun
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧16 x 6 cm
                h2 恆生罄
                p 黃銅
                p.mt-4: b.
                    一始。<br>
                    萬物初始，無中生有，有道為一，一元復始。
            .col-md-8
                #carousel1.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/01-01.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/01-02.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/01-03.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/01-04.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel1' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel1' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .box-big.bg-color-6.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/hq1IRICrL3Y?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc
                p.small 2022‧16 x 6 cm
                h2 迷你
                p 不鏽鋼304
                p.mt-4: b.
                    空間。<br>
                    六個音符，是構成音樂風格的最低限度，藉由將最常見的音階組合設計，濃縮成為在掌中的音樂文化與世界風景。
            .col-md-8
                #carousel2.carousel.slide.revert-bg.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/02-01.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/02-02.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/02-03.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/02-04.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel2' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel2' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .box-big.bg-color-6.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/Z8p6QCLL_6Q?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc
                p.small 2022‧26 x 10 cm
                h2 四季
                p 不鏽鋼316
                p.mt-4: b.
                    時間。<br>
                    忠實設置碟樂20年歷史最常用的音列設計與音階，以四種風格代表四季樣貌，作為探索樂音宇宙的開始。
            .col-md-8
                #carousel3.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/03-01.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/03-02.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/03-03.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/03-04.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel3' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel3' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .box-big.bg-color-6.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/W6Ru99LJ6D4?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc
                p.small 2022‧36 x 11 cm
                h2 天來
                p 不鏽鋼316
                p.mt-4: b.
                    結合物理拍頻現象的雙層結構，及倍頻泛音的音片設計，創造出打破制約，綿延無盡的聲感新體驗。
            .col-md-8
                #carousel4.carousel.slide.revert-bg.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/04-01.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/04-02.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/04-03.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/04-04.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel4' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel4' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .box-big.bg-color-6.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/BeuFEvjP02g?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc
                p.small 2022‧26 x 12 cm
                h2 初心
                p 碳鋼
                p.mt-4: b.
                    一顆顆廢棄瓦斯桶的改造與再生，是天鼓的開始與初心。
            .col-md-8
                #carousel5.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-01.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-02.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-03.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-04.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-05.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/2/05-06.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel5' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel5' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
                .box-big.bg-color-6.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/eK1IqKtTUec?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p.
                    Sound is the most contrasting sensory experience.<br>
                    And contrast is the truth of what the world is made of<br>
                    Movement and stillness, inhale and exhale, inside and outside, birth and death, the begining and the end ...
                p.
                    I interact with myself through the action of tapping and knocking.<br>
                    I acquaint myself through the mirror image reflected in metal.<br>
                    I live with the laws of nature through the harmonically multiplied audio.
                p.
                    The spaceship-like drum,<br>
                    is like an elliptical cavity that condenses the universe.<br>
                    With its pure, gentle yet strange appearance,<br>
                    the drum vibrates the sounds of the nature, and carries and translates the sounds from heaven.<br>
                    It pauses space and time,<br>
                    retaining balance and finding the self.
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b PAN Tzu-Tsun (A-Dan)‧Tzun's Pan Sound Sculptures
                p Born Yilan, Taiwan.
                p.
                    In October 2013, having taught himself over the internet, PAN Tzu-tsun founded Sine. Studio, the first self-made steel tongue drum brand in Taiwan. Combining experience, design, and craft aesthetics, Sine. Studio offers musical instrument production more possibilities for life and leisure.<br>
                    The studio has won the 2020 Taiwan Golden Pin Design Award, and the Cultural and Creative Boutique Excellence Award at 2021 Creative Expo Taiwan.
                p In June 2021, after further research, Pan produced the first Handpan in Taiwan. In August of the same year, to experiment and to improve his art, he started Tzun's Handpan, which started the process of Taiwan’s first batch of hand-made Handpan.
                p In January 2022, Pan used the term of “Pan Sound” to integrate the cultural background and experience of making steel tongue drums and Handpan. The studio was renamed “Tzun's Pan Sound Sculptures.”

                a(href="https://www.sinestudio.co/" target="_blank") 更了解藝術家
append script
    script(src="/assets/js/artist.js") 
    script.
        $( document ).ready(function() {
            startItro(2000);
        })