extends /_layout.pug
block variables
    - title = "林秀蘋(思良)‧BONTE好物金工"
block head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist6.css?version="+timestamp)
block body
    #top-sketch
        img.w-100.h-auto(src="/assets/artist/6/女人三.jpg")
    #goback
        a(href="/artist/6")
            img.w-100(src="/assets/goback.svg", alt="", srcset="")
    .slogan.align-items-center.text-center.py-5
        p 2014年心中有個聲音：「要不，做一條關於子宮的項鍊？」
        p 當我聽見內在的提問時，開始對於子宮產生了巨大的好奇心，我好奇自己的身體，為何我從來沒想過這件事？子宮對於女性又是什麼呢？背後又有什麼樣的故事？如果我連自己的子宮都不了解，該如何做出這一條子宮項鍊，要用什麼材質，什麼技法，畫不出草稿，當下有個靈感，也許可以邀請朋友們一起彩繪子宮，看看會發生什麼事？
        p 而這條子宮項鍊順利創作出來，同時生命也帶領我走向另一個創作的可能性。
        p.
            孕｜我們最初在子宮的生命能量。<br>
            綻｜如花的綻放開展，女人走在自己的路上，自在美麗。<br>
            巢｜女人創造自己的家，屬於自己的巢與位置。
    .works
        .modal.fade#workModal(tabindex='-1' aria-hidden='true')
            .modal-dialog.modal-fullscreen
                .modal-content
                    .modal-body.d-flex.justify-content-center.align-items.center
                        #workImage: div.img-box
                            img(src="", alt="", srcset="")
                            a#close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                svg.w-100.h-100(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='currentColor')
                                    // ! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. 
                                    path(d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z')
        .row.g-0
            .col-md-4: .disc 
                p.small 2014‧23 x 28 x 3 cm
                h2 孕
                p 999銀線、腰果漆、金箔、黑檀木、鍍18K
            .col-md-8.bg-color-8
                .box-big.w-100
                    div: a.workbox(data-angle="")
                        img.w-100.h-100(src="/assets/artist/6/孕.jpg", alt="", srcset="")
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2015‧10 x 15 x 1 cm
                h2 綻
                p 999銀線、台灣肖楠木
            .col-md-8.bg-color-9
                .box-big.w-100
                    div: a.workbox(data-angle="")
                        img.w-100.h-100(src="/assets/artist/6/綻.jpg", alt="", srcset="")
        .row.g-0
            .col-md-4: .disc 
                p.small 2015‧5 x 6 x 3.5 cm
                h2 巢
                p 999銀線
            .col-md-8.bg-color-8
                .box-big.w-100
                    div: a.workbox(data-angle="")
                        img.w-100.h-100(src="/assets/artist/6/巢.jpg", alt="", srcset="")
        
block script
    script(src="/assets/js/artist.js")