extends /en/_layout.pug
append variables
    - title = "CHANG Po-Chien‧zhēnzhēn Stained Glass Lab"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist7.css?version="+timestamp)
append body
    #top-anim
        #player.w-100.h-100
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p Please turn off the light.
                p Put on your headphone.
                p Relax.
                p And enjoy the five-minute video.
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 Responding to the world and self with the sincere warmth of both hands; within the regularity of repetition we find light and brilliance.
        h6 CHANG Po-Chien
    .works
        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p: b Relight+NOISE
                p Responding to the world and self with the sincere warmth of both hands.
                p Creating with my hands, I learn the production methods, material properties, and technological process of an "object." From the perception and comprehension obtained through my hands, I feel another aspect of consciousness. While making with my hands, I am thus able to obtain a complete blank space of consciousness, and I can then stabilize myself thanks to the repetitive body movements. These rhythms are like ocean waves, and white noise, they lull me to sleep. At the moment of falling asleep, the creative practice is like a key to activate the dream, which takes me on a fantastic journey.
                p Within the work "Relight+NOISE," I made use of the focusing and defocusing of a camera to make light fall on a traditional pattern and render a dream-like visual effect. With the sound scratched out from a pattern via a vinyl stylus, I invented a way to read white noise and light. In these five minutes, you can turn the surrounding lights off, and let the screen light and soundstage surround you.
                p The regularity of repetition is like time passing between each flicker of the light. When we acquire the key, we find light and brilliance.
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b zhēnzhēn Stained Glass Lab
                p In this generation, we use the warmth of both hands to response sincerely.
                p We are a lab that work and celebrate "light". Through the process of making lights, we combine the traditional craftsmanship like Stained Glass in order to express the attitude of "cherishing the cherishing and the novelty in life", which has been easily forgotten nowadays. Our main service is customized high quality handcrafted order, while we also hold exhibitions and plan crossovers with different artists every year, seeking more inspiration and possibilities. The brand mind is to become a platform where we thrive in searching for the unknown area of creation, and move closer to "light" together.
                a(href="https://www.zhenzhenlab.com/" target="_blank") More
append script
    script(src="/assets/js/artist.js") 
    script(src='https://www.youtube.com/iframe_api')
    script.
        let player, iframe

        $( document ).ready(function() {
            anime({
                targets: ['#intro-overlay .textbox p', '#startanim'],
                opacity: 1,
                easing: 'easeInQuad',
                duration: 5000,
                delay: anime.stagger(3000)
            })
        })
        $("#startanim").on("click", function(e){
            $("#intro-overlay .textbox").fadeOut(1000)
            anime({
                targets: '#intro-overlay .topeye',
                translateY: "-100%",
                duration: 3000,
                easing: 'easeInOutQuad',
            })
            anime({
                targets: '#intro-overlay .bottomeye',
                translateY: "100%",
                duration: 3000,
                easing: 'easeInOutQuad',
                complete: function(anim) {
                    $("#intro-overlay").fadeOut(1000, function(e) {
                        player.playVideo();//won't work on mobile

                        var requestFullScreen = iframe.requestFullScreen || iframe.mozRequestFullScreen || iframe.webkitRequestFullScreen;
                        if (requestFullScreen) {
                            requestFullScreen.bind(iframe)();
                        }
                    })
                }
            })
        })

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '',
                width: '',
                videoId: 'wjwdxoMe4ZY',
                playerVars: {
                    rel: 0,
                    modestbranding: 1,
                    playsinline: 1,
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            })
        }

        function onPlayerReady(event) {
            var player = event.target;
            iframe = $('#player')[0];
        }

        function onPlayerStateChange(event) {
            console.log(event.data)
            if (event.data == 0) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) { /* Safari */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE11 */
                    document.msExitFullscreen();
                }
            }
        }