html 
    head
        style.
            html, body {
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: #DDD;
                margin: 0;
            }
            .wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #numberbox {
                text-align: center;
                background-color: #FFF;
                border-radius: 1rem;
                padding: 2rem 6rem;
                font-size: calc(1rem + 3vw);
                filter: drop-shadow(2px 4px 4px #AAA);
                font-family: monospace;
                font-weight: bold;
            }
    body
        .wrapper: #numberbox 00:00:00:00
        script.
            function padzero(p) {
                return new Array(2 - (p + '').length + 1).join('0') + p;
            }
            let ms = 162;
            setInterval(function () {
                ms-=1;
                if(ms < 0) {
                    ms = 162
                } 
                document.getElementById("numberbox").innerText = `00:00:0${parseInt(ms/100)}:${padzero(ms%100)}`
            }, 10)