extends /_layout.pug
block variables
    - title = "王筱璦‧王筱璦金工藝術"
block head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist1.css?version="+timestamp)
block body
    #top-anim
        iframe.w-100.h-100(src="anim.html", frameborder="0") 
    .slogan.align-items-center.text-center
        h2 一個剎那是0.018秒，九十剎那為一個念頭。
        h6 王筱璦
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧60 x 60 x 65 cm
                h2 P-0
                p 黃銅、紅銅、琺瑯、複合式媒材
            .col-md-8.bg-color-4
                #carousel1.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-1.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-2.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-3.jpg')
                                .col-6.carousel-right: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-1.jpg')
                    button.carousel-control-prev(type='button' data-bs-target='#carousel1' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#carousel1' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
        
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022‧32.8 x 23.8 x 110 cm
                h2 K-0.018
                p 黃銅、紅銅、琺瑯、複合式媒材
            .col-md-8.bg-color-4
                #carousel1.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/K-0018-1.jpg')
                                .col-6.carousel-right: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/K-0018-2.jpg')
        
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022‧36 x 10 x 17 cm
                h2 a-x.
                p 黃銅、紅銅、琺瑯、水晶
            .col-md-8.bg-color-4
                .box-big: div: a.workbox(href="#")
                    img.d-block.h-100.w-100(src='/assets/artist/1/a-x.jpg')
        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p: b 明夢
                p 療癒一詞，在人類歷史中經常使用於神秘學與宗教學之間，人們透過超自然的力量作為治癒患者的載體，然而當今社會則將療癒一詞廣泛用於形容減緩痛苦的事物。
                p 種子，在佛教概念中描述人的念頭與習性，呈現出相異的善與惡，於不同狀態之中萌生。這些種子是穿梭時間與空間，不斷地影響霎那間的作為。
                p 「真正的療癒是看見被療癒的原因。」一段自我的發現過程，旁觀著自我的創傷與內心底層的難題，回溯傷痛的根源，探索的、抽絲的、赤裸的...。
                p 系列作品之中，作為種子的藍色星體，運行於相異的載體上，觀照內心深層的念頭，發覺被療癒的原因。
                    
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b 王筱璦
                p 現居南投埔里。作品以多媒材作為創作語彙，經由探討內在精神與生命軸線的演繹，呈現創作中所理解及自我的覺知。
                a(href="http://www.hsiaoaiwang.com/" target="_blank") 更了解藝術家
block script
    script(src="/assets/js/artist.js") 