extends /en/_layout.pug
append variables
    - title = "Home"
append head
    link(rel="stylesheet" href="/assets/css/main.css?version="+timestamp)
append body
    #main-top.container-fluid.g-0 
        .box-left
            svg#artist-3(width='480' height='287' viewBox='0 0 480 287' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/3")
                    rect(width='480' height='287' fill='#7FCFF4')
                    rect(y='87' width='480' height='30' fill='#485FF4')
                    rect(y='153' width='480' height='31' fill='#485FF4')
                    rect(y='220' width='480' height='31' fill='#485FF4')
            svg#artist-4(width='481' height='350' viewBox='0 0 481 350' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/4")
                    ellipse(cx='202.758' cy='188.298' rx='196.951' ry='119.701' transform='rotate(-35.8036 202.758 188.298)' fill='#74E1E8')
            svg#artist-5(width='480' height='260' viewBox='0 0 480 260' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/5")
                    circle(cx='348' cy='127' r='106' fill='#5366FF')
                    circle(cx='275.915' cy='111.105' r='12.72' fill='#E1E0FE')
                    circle(cx='347.998' cy='127.001' r='37.1' fill='white')
        .box-center 
            svg#artist-6(width='480' height='540' viewBox='0 0 480 540' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/6")
                    rect(width='480' height='540' fill='#FEC0CB')
                    rect(y='330' width='480' height='40' fill='white')
                    ellipse(cx='242.5' cy='315.5' rx='109.5' ry='108.5' fill='white')
            svg#artist-8(width='480' height='280' viewBox='0 0 480 280' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/8")
                    rect(width='480' height='280' fill='#74E1E8')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M413.688 280L68.0938 0H125.96L480.002 279.994V280H413.688Z' fill='#FFF684')
        .box-right
            svg#artist-1(width='480' height='410' viewBox='0 0 480 410' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/1")
                    rect(width='480' height='410' fill='#7FCFF4')
                    path(d='M239.705 372L136.903 214.93L342.507 214.93L239.705 372Z' fill='#FFF29B')
                    ellipse(cx='239.5' cy='156' rx='118.5' ry='118' fill='#354DE9')
            svg#artist-27(width='480' height='410' viewBox='0 0 480 410' fill='none' xmlns='http://www.w3.org/2000/svg')
                a(href="/"+lang+"/artist/2")
                    path(d='M0 0V410L480 0H0Z' fill='#FFE8DA')
                    ellipse(cx='137' cy='120.5' rx='115' ry='100.5' fill='#CCD0FC')
                    line(x1='170' y1='107' x2='208' y2='107' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                    line(x1='170' y1='134' x2='208' y2='134' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                    line(x1='168' y1='134' x2='168' y2='107' stroke='#FFF684' stroke-width='6' stroke-linecap='round')
                a(href="/"+lang+"/artist/7")
                    path(d='M480 410V0L0 410H480Z' fill='#CBD0FC')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M354.963 285.966C354.964 285.967 354.965 285.969 354.966 285.97C354.967 285.969 354.968 285.969 354.97 285.968C354.969 285.966 354.968 285.965 354.967 285.964C354.966 285.964 354.965 285.965 354.963 285.966ZM374.622 210.334C359.265 184.182 325.657 175.277 299.347 190.467C273.037 205.657 263.945 239.218 278.918 265.593C252.766 280.95 243.862 314.558 259.051 340.867C274.242 367.177 307.802 376.27 334.177 361.297C334.246 361.417 334.314 361.537 334.383 361.657C349.642 388.086 383.437 397.141 409.866 381.882C436.295 366.624 445.35 332.829 430.092 306.4C430.022 306.279 429.951 306.158 429.881 306.038C430.001 305.969 430.121 305.9 430.241 305.831C456.67 290.572 465.726 256.778 450.467 230.348C435.208 203.919 401.413 194.864 374.984 210.123C374.863 210.193 374.742 210.263 374.622 210.334Z' fill='white')
    #main-video: .container-fluid.d-flex.flex-column.justify-content-center.align-items-center
            .iframe-box
                iframe.w-100.h-100(src='https://www.youtube.com/embed/wckrDIXCNhM?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    #main-bottom: .container-fluid 
        .row.mb-5.g-0.justify-content-center
            .col-md-6.text-center.disc
                h6 Dancecology
                h1 Embrace
                p The dance video work "Embrace" is produced by Dancecology. Starting from the creative process of craft artists, the video pitched the topic from four sub-topics, which are Sound, Touch, Time, and Symbiosis. It documents the transition of the artist throughout the creative process, as well as the changes in body rhythm, perception and mood caused by different incidents, turning it into a combination piece of documentary and dance video to be narrated.
        .row.gx-4.gy-5.justify-content-center.align-items-center
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/_ELNSZ8cezc?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 Embrace‧Sound
            .col-md-5.box
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/6ZhvuplH-Lk?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 Embrace‧Touch
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/yV-HpJqUKYo?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 Embrace‧Symbiosis
            .col-md-5.box 
                .iframe-box
                    iframe.w-100.h-100(src='https://www.youtube.com/embed/TwfS52a4suA?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                h6 Embrace‧Time

    #footer: .container-fluid
        .row.h-100.gx-4.justify-content-center
            .col-md-5.d-flex
                table
                    tr
                        th(style="width: 6rem") Contact
                        td Taiwan Art Space Alliance<br><i>service@tasatw.org</i>
            .col-md-5.d-flex.flex-column
                table
                    tr
                        th(style="width: 6rem") Supervisor
                        td 文化部、國立台灣工藝研究發展中心
                    tr
                        th Organizer
                        td 台灣藝文空間連線TASA協會
                    tr
                        th Curatorial Team
                        td 自己人策展團隊
                    tr
                        th Media Partners
                        td 典藏Artouch、Arttime藝術網
                    tr
                        th Venue Partners
                        td 或者工藝櫥窗、節點、了了空間