extends /en/_layout.pug
append variables
    - title = "Exhibition"
append head
    link(rel="stylesheet" href="/assets/css/about.css?version="+timestamp)
append body
    #top-anim
        .anim-card: div: h1 Aspiration
        h6 Mirror
    #rows
        .row.g-0.bg-color-1
            .col-md-4.about
                h1 Curatorial Statement
                span.
            .col-md-8: .box-big
                h6.mb-4 Mirror — An Online Exhibition about the Craft of Healing
                p: i "Learn to see and to feel life; that is, cultivate imagination, because there are still marvels in the world, because life is a mystery and always will be. But be aware of it." ~Josef Albers
                p Mirror — An Online Exhibition about the Craft of Healing invited eight artists to look back at the core of their creative practice, trying to sensualize emotions and process them in an intuitive way. Artists get to know themselves better through philosophical speculation, search for a sense of belonging in light and shadow, keep notes of different situations and states of life through meditation, and also confront, reflect on and repair a relationship, learning to heal a wounded heart. They shift between aspiration, projection and transformation.
                p In the process of their creative practice, the artists shape the objects before them into the appearance in their mind, feeling the materials attentively with their hands, and leaving a unique imprint on the works with repetitive motions and the body’s labor. The final manifestation of a work also shows the artist’s autonomy, time and effort. The surprise brought by the unknown in the creative process is always the most interesting part. Perhaps, trusting their inner guidance makes the artists keep going.
                p The essence of the creative practice is exploring beauty, as well as exploring oneself, so as to understand oneself. If an artwork can bring such core concepts to an audience, trigger their empathy, and then make that audience face their emotions willingly, and achieve integration, the true meaning of healing will then be realized.
                p In this online exhibition, we expect the artwork to serve as a mirror. When the work sits before the artist, it reflects the creator’s inner world and their personal growth through the practice. When the work sits before an audience, not only does it create a sensory experience, we hope it also resounds with the deepest voice within them.
        .row.g-0.bg-color-2
            .col-md-4.curator
                h1 Curator
                span.
            .col-md-8: .box-big
                p.m-0 Iris, Ping-Chi HUNG is an independent curator and a professional art coordinator. Currently president of Taiwan Art Space Alliance and member of curatorial team INSIDER, she has previous been Managing Director of Bamboo Curtain Studio; and Manager of Taipei Brick House. Hung received her MA in Culture Industry from Goldsmiths, University of London, focusing on the role of pop-up culture in gentrified areas. She is interested in exploring the supporting system in art and culture field, the collaboration in cross-disciplined field, international exchange and local connection. Her curatorial concept focus on perception and emotion through different body experiences. 
        #teams.row.g-0.bg-team-1
            .control-box
                .bar.bg-team-2(data-toggle-team="2")
                    .underline.active
                .bar.bg-team-3(data-toggle-team="3")
                    .underline.
                .bar.bg-team-4(data-toggle-team="4")
                    .underline.
            .control-prev
                .bar.d-none(data-toggle-team="1")
                    .underline.
            .col-md-4.team
                h1 Team
                span.
            .col-md-8.team-page#team-page-1.active: .box-big
                table
                    tr
                        th(style="width: 10rem") Supervisor 
                        td
                            img.bigger(src="/assets/logo/文化部.png" alt="")
                            img.smaller(src="/assets/logo/工藝中心.png" alt="")
                    tr 
                        th Organizer 
                        td
                            img.bigger(src="/assets/logo/TASA.png" alt="")
                    tr 
                        th Curatorial Team
                        td
                            img.bigger(src="/assets/logo/自己人.png" alt="")
                    tr 
                        th Media Partners
                        td
                            img.smaller(src="/assets/logo/artouch.png" alt="")
                            img.bigger(src="/assets/logo/arttime.png" alt="")
                    tr 
                        th Venue Partners
                        td
                            img(src="/assets/logo/或者工藝櫥窗.png" alt="")
                            img.smaller(src="/assets/logo/節點.png" alt="")
                            img(src="/assets/logo/了了空間.png" alt="")
            .col-md-8.team-page.bg-team-2#team-page-2: .box-big
                table
                    tr
                        th(style="min-width: 4.5rem") Curator
                        td Iris, Ping-Chi HUNG
                    tr
                        th Artists
                        td
                            p WANG Hsiao-Ai
                            p LIN Hsiu-Ping・BONTE Handmade Jewelry
                            p CHEN Hsian-Jung・The Fruit Shop
                            p KANG Ya-Chu・Textile Map
                            p CHANG Po-Chien・zhēnzhēn Stained Glass Lab
                            p HUANG Hung-Yu・Tu Xing Studio
                            p PAN Tzu-Tsun・Tzun's Pan Sound Sculptures 
                            p LAI Hsin-You・Kousan Craft

            .col-md-8.team-page.bg-team-3#team-page-3: .box-big
                table
                    tr
                        th(style="min-width: 10rem") Exhibition Executive & Coordinator
                        td JAN Yi-Fen, HSU Szu-Ting
                    tr
                        th Audio Description Team
                        td CHAO Hsin-Yi, Mothra Productions, Iris, Ping-Chi HUNG, CHEN Chia-lan
                    tr
                        th Voice Over Artist
                        td CHEN Yen Chun
                    tr
                        th Audio Description Consultants
                        td CHAO Hsin-Yi, HSU Chia-Feng, TSENG Yun Fan
                    tr
                        th Marketing
                        td TAN Ju-Fang
                    tr
                        th Video Production
                        td Dancecology
                    tr
                        th Translator
                        td CHEN I-Yen
                    tr
                        th Website Design
                        td O—A Design

            .col-md-8.team-page.bg-team-4#team-page-4: .box-big
                table
                    tr
                        th(style="width: 10rem") Supervisor 
                        td
                            img.bigger(src="/assets/logo/文化部.png" alt="")
                            img.smaller(src="/assets/logo/工藝中心.png" alt="")
                    tr 
                        th Organizer 
                        td
                            img.bigger(src="/assets/logo/TASA.png" alt="")
                    tr 
                        th Curatorial Team
                        td
                            img.bigger(src="/assets/logo/自己人.png" alt="")
                    tr 
                        th Media Partners
                        td
                            img.smaller(src="/assets/logo/artouch.png" alt="")
                            img.bigger(src="/assets/logo/arttime.png" alt="")
                    tr 
                        th Venue Partners
                        td
                            img(src="/assets/logo/或者工藝櫥窗.png" alt="")
                            img.smaller(src="/assets/logo/節點.png" alt="")
                            img(src="/assets/logo/了了空間.png" alt="")

append script
    script.
        let randStr = ["Aspiration", "Projection", "Transformation"]
        let nowv = 0
        let counter = [0, 0, 0]
        function showCard(e) {
            e.preventDefault();
            let v = (nowv + 1 + parseInt(Math.random()*2))%3
            counter[v]+=1
            let s = randStr[v]
            //console.log(counter)
            $("h1", this).text(s)
            nowv = v
            $(this).addClass("active")
        }
        function hideCard() {
            $(this).removeClass("active")
        }
        $(".anim-card").on({
            "mouseenter": showCard,
            "touchstart": showCard,
            "mouseleave": hideCard,
            "touchend": hideCard,
        })

        var rotval = 132
        setInterval(function() {
            $(".anim-card").css("--rotate", `${rotval}deg`)
            rotval=(rotval+1)%360
        }, 15)

        $("#teams .bar").on("click", function(e) {
            e.preventDefault()
            let nextId = $(this).data("toggle-team")
            if(nextId == 0) {
                let currentId = parseInt($("#teams .team-page.active").attr("id").slice(-1))
                if(currentId > 2) {
                    nextId = currentId - 1
                } else {
                    nextId = 1
                }
            }
            $("#teams .bar").each(function(id, el){
                $(this).addClass("d-none")
                if((id!=3 && id+2 > nextId) || (id==3 && nextId>1)) {
                    $(this).removeClass("d-none")
                }
            })
            $("#teams .team-page").removeClass("active")
            $("#teams").removeClass("bg-team-1 bg-team-2 bg-team-3 bg-team-4")
            $(`#team-page-${nextId}`).addClass("active")
            $("#teams").addClass(`bg-team-${nextId}`)
            $("#teams .bar .underline").removeClass("active")
            $(`#teams .bar .underline`).eq(nextId-1).addClass("active")
            $("html, body").scrollTop($("#teams").offset().top)
        })

        $("#teams .bar").on("mouseenter", function(e) {
            $("#teams .bar .underline").removeClass("active")
            $(".underline", this).addClass("active")
        })