extends /zh_tw/_layout.pug
append variables
    - title = "康雅筑‧織物地圖"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist5.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p 請嘗試滑動紫色圓點
                button.btn#startanim 開始
    .slogan.align-items-center.text-center
        h3 我用7張唱片想像與譜寫一週的節奏，承接著創作者意識的唱盤繼續迴旋撥放。
        h6 康雅筑
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧7'35''
                h2 當意識流在迴旋的
                p 單頻道錄像 (黑膠唱片、唱盤機、多式纖維、線繩、棉花)
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/4lkXQTDzazI?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                #carouselDisc.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            p.small 2022
                            h2 星期一<br>藝術家的生涯 Artist’s Life
                            p 小約翰．史特勞斯圓舞曲
                        .carousel-item
                            p.small 2022
                            h2 星期二<br>Sell My soul for you
                            p Teri Desario
                        .carousel-item
                            p.small 2022
                            h2 星期三<br>南國之夜
                            p 亞洲 33 1/3 轉長時間唱片
                        .carousel-item
                            p.small 2022
                            h2 星期四<br>思潮
                            p 金韻獎第三集
                        .carousel-item
                            p.small 2022
                            h2 星期五<br>夢的流曳＆追憶的旅人
                            p 天使的音樂 Concerto Saint-Preux
                        .carousel-item
                            p.small 2022
                            h2 星期六<br>Deep in the Dark
                            p Make your move (the captain & tennille) 
                        .carousel-item
                            p.small 2022
                            h2 星期天<br>星期天你將做什麼
                            p &nbsp;
            .col-md-8.bg-color-4
                #carouselImg.carousel.slide(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/1.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/2.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/3.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/4.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/5.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/6.jpg')
                        .carousel-item
                            div: a.workbox(data-angle="p" href="#")
                                img.d-block.h-100.w-100(src='/assets/artist/5/7.jpg')
                    button.carousel-control-prev(data-bs-target='#carouselImg' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carouselImg' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p 黑膠唱盤是承接與釋放的載體，我透過唱盤上的曲目想像那旋律曲調，在腦海中譜出一週的節奏，延伸紡線旋轉過程中進入心流狀態的概念，分別以：<cite>藝術家的生涯、Sell My soul for you、南國之夜、思潮、夢的流曳&追憶的旅人、Deep in the Dark、星期天你將做什麼</cite>，來詮釋關於內在、心境、週期、循環等狀態，藉由編織、刺繡、纏繞等方式，將色彩、光線、纖維與材質交會，讓這些元素彼此重疊、交織、對話與流竄，在放下唱盤的那一刻啟動意識，如血液在腦海與身體裡流動般再次喚醒視覺、聽覺、觸覺等感官資訊，讓承接著創作者意識的唱盤繼續迴旋播放。這是一首關於腦神經、感知、沈靜、冥想與反饋的曲。
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b 康雅筑‧織物地圖
                p 複合媒材跨領域藝術家，以纖維織線的軌跡做為思考的路徑，透過田調、文獻與提問來找尋立足當下的位置，進而回視自身文化背景的特殊性與差異性來認識所處的當下。透過作品質疑全球化與自然環境等課題，探討工藝技能與身體勞動、生活狀態、遷徙移動、經濟貿易與社會結構之間的關係，以全球紡織文化史和當代社會行為表象為基礎，進而審視全球與在地文化的更迭、交織與質疑。作品涉及雕塑、現地裝置、環境藝術、織品、繪畫與聲音錄像等。
                a(href="https://yachukang.com/" target="_blank") 更了解藝術家
append script
    script(src="/assets/js/artist.js")
    script.
        $( document ).ready(function() {
            startItro(2000);
        })
        
        let carouselDisc = new bootstrap.Carousel($("#carouselDisc").first(), {
        })
        $("#carouselImg").on("slide.bs.carousel", function(e) {
            console.log(e)
            carouselDisc.to(e.to)
            carouselDisc.pause()
        })
