extends /en/_layout.pug
append variables
    - title = "WANG Hsiao-Ai"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist1.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/1/anim.html", frameborder="0") 
    .slogan.align-items-center.text-center
        h3 An instant (kṣaṇa) is 0.018 second, 90 instants defined as a thought.
        h6 WANG Hsiao-Ai
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧60 x 60 x 65 cm
                h2 P-0
                p Brass, copper, enamel, mixed media
            .col-md-8.bg-color-4
                #carousel1.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-1.jpg')
                                .col-6.carousel-right: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-2.jpg')
                        .carousel-item
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-3.jpg')
                                .col-6.carousel-right: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/P-0-1.jpg')
                    button.carousel-control-prev(data-bs-target='#carousel1' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(data-bs-target='#carousel1' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
        
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022‧32.8 x 23.8 x 110 cm
                h2 K-0.018
                p Brass, copper, enamel, mixed media
            .col-md-8.bg-color-4
                #carousel1.carousel.slide.w-100(data-bs-ride='false')
                    .carousel-inner
                        .carousel-item.active
                            .row.g-0
                                .col-6.carousel-left: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/K-0018-1.jpg')
                                .col-6.carousel-right: div: a.workbox(data-angle="p" href="#")
                                    img.d-block.h-100.w-100(src='/assets/artist/1/K-0018-2.jpg')
        
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022‧36 x 10 x 17 cm
                h2 a-x.
                p Brass, copper, enamel, crystal
            .col-md-8.bg-color-4
                .box-big: div: a.workbox(href="#")
                    img.d-block.h-100.w-100(src='/assets/artist/1/a-x.jpg')
        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p: b Lucid dream
                p In human history, the word "healing" is often used in occult and religious studies to describe the application of supernatural powers as a vehicle to heal patients. Today, however, the term "healing" is widely used to describe things that relieve suffering.
                p "Seeds" refer to people's thoughts and habits in the Buddhist concept, which show various goods and evils, germinating in different states. These seeds travel through time and space, constantly affecting the actions of the moment.
                p "To truly heal is to see the reason of being healed." It is a journey of self-discovery. By observing my own trauma and the underlying problems deep down in my heart, I traced the source of the pain through exploring, threading, naked....
                p In this series of works, the blue asters as seeds run on different carriers, contemplating the deep thoughts in the heart, and discovering the reason to be healed.
                    
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b WANG Hsiao-Ai
                p WANG Hsiao-Ai currently lives in Puli, Nantou.<br>She uses multimedia as her creative vocabulary. Through the exploration of the inner spirit and the interpretation of the axis of life, Wang presents in her works the understanding and self-awareness acquired through her creative process.
                a(href="http://www.hsiaoaiwang.com/" target="_blank") More
append script
    script(src="/assets/js/artist.js") 