extends /zh_tw/_layout.pug
append variables
    - title = "林秀蘋(思良)‧BONTE好物金工 - 2"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist6.css?version="+timestamp)
append body
    nav#moreNav.nav.fixed-top
        a#tab-1-nav.bg-nav-1.nav-link.active(data-bs-toggle="tab" data-bs-target="#tab-1"  role="tab" aria-controls="tab-1" aria-selected="true")
            h3 溯
            span.
        a#tab-2-nav.bg-nav-2.nav-link(data-bs-toggle="tab" data-bs-target="#tab-2"  role="tab" aria-controls="tab-2" aria-selected="false")
            h3 本
            span.
        a#tab-3-nav.bg-nav-1.nav-link(data-bs-toggle="tab" data-bs-target="#tab-3"  role="tab" aria-controls="tab-3" aria-selected="false")
            h3 初
            span.
        a#tab-4-nav.bg-nav-2.nav-link(data-bs-toggle="tab" data-bs-target="#tab-4"  role="tab" aria-controls="tab-4" aria-selected="false")
            h3 心
            span.
    #goback
        a(href="/"+lang+"/artist/6#works")
            img.w-100(src="/assets/goback.svg?v=1", alt="", srcset="")
    #tab-content.tab-content
        #tab-1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab-1-nav")
            .slogan.align-items-center.text-center.py-5
                p: b 《我的子宮，我的大地母親藝術計畫》
                p 再次回溯這系列的創造，如同站在鏡子前，赤裸地展現，我心中最真實的渴望，這系列作品是由內在投射對於創作的熱情與力量。
                p 要我再去刻畫或者再現這系列創作對我來說是不可能的，因為當下完成，就已經完成。
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2 關於《我的子宮，我的大地母親藝術計畫》
                        p.
                            五個國家/200幅子宮圖/200位志工集體創作。<br>
                            初衷：溯生命的源頭、覺察身體與大地的連結。<br>
                            這是一個聚焦在人類的核心價值、關於生命起源的藝術計畫。
                    .col-md-8.bg-color-7
                        .box-big.w-100
                            div
                                iframe.w-100.h-100(src='https://www.youtube.com/embed/OLQ_CiGmnMc?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                .row.g-0
                    .col-md-4.bg-color-1: .disc
                        p.small 2015
                        h2 《重返子宮》竹圍工作室
                        p 從身體的陣痛去感受回到子宮的洋，回到母體的本然，回到最初安全的大海，再破水而出的創造。
                    .col-md-8.bg-color-10
                        #carousel1.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="p")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮/7.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel1' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel1' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4: .disc 
                        p.small 2015
                        h2 《雙蛇重生》淡水環境藝術節
                        p 離開母體，經歷個體化的生與死，而那重生是脆弱的力量，如新生兒般帶有各種可能性的成長，那生命力引領著我們，進入黑再入光，最終接納光影並存的個體展現。
                    .col-md-8.bg-color-7
                        #carousel2.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="p")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生/7.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel2' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel2' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4.bg-color-1: .disc 
                        p.small 2017
                        h2 《回巢》竹圍工作室
                        p 將萬物一體的意象，融入這次的創作《回巢》，超越個體化限制與萬物連結，將這樣的感知轉化成創作，將來自夢境的畫面與四方一起創造出的巢，那是萬物的巢，那是家。
                    .col-md-8.bg-color-10
                        #carousel3.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel3' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel3' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next

        #tab-2.tab-pane.fade(role="tabpanel" aria-labelledby="tab-2-nav")
            .slogan.align-items-center.text-center.py-5
                p.
                    創作是神秘的旅程，那是經過無數累積與醞釀後，在空白與靜默之間，出現的畫面與直覺。<br>
                    而心有強烈的感召，每一次的共同創造，每一個當下都在這個流之中，好像我不再是我一般，而是最純然的在。
                p.
                    很感謝與謙卑地回溯過去的一切，真摯地謝謝每一雙手，大自然給予的材料與禮物，<br>
                    及每一位參與的妳你們，因為有你，才有我。
                p 而所有的創造過程，終將回到大海，回到心。
            .works
                .row.g-0
                    .col-md-4: .disc 
                        p.small 2015
                        h2 《重返子宮》
                    .col-md-8.bg-color-7
                        #carousel4.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/重返子宮_佈展/5.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel4' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel4' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4.bg-color-1: .disc 
                        p.small 2015
                        h2 《雙蛇重生》
                    .col-md-8.bg-color-10
                        #carousel5.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/雙蛇重生_佈展/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel5' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel5' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                .row.g-0
                    .col-md-4: .disc
                        p.small 2017 
                        h2 《回巢》
                    .col-md-8.bg-color-7
                        #carousel6.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/回巢_佈展/6.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel6' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel6' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
        #tab-3.tab-pane.fade(role="tabpanel" aria-labelledby="tab-3-nav")
            .slogan.align-items-center.text-center.py-5
                p 『一個內在聲音，開啟了一段美麗的旅程，我開始到不同國家，蒐集世界各地男人、女人、小孩的子宮彩繪圖，因為好奇心，深切想要知道關於子宫、身體與土地的連結，畢竟我們都曾在子宫裡。
                p 而這聲音，引領我進入一場未知的生命旅途，從中蒐集到世界各地的故事。這些都是生命的經驗，所有哀愁、痛苦、喜悅、力量、平衡、憤怒的子宮故事，而這些感受不只是你有而是所有人的共同生命經驗。
                p 我將這些畫放在心裡，每一幅畫都讓我想到創作者的臉，她/他們的筆觸，她/他們的故事及分享時的各種情感流瀉。
                p 當她/他們在畫時，療癒就開始了。』
                p 而我那曾經破碎的女性力量，再度長出來。
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2 《我的子宮，我的大地母親藝術計畫》子宮圖
                    .col-md-8.bg-color-7
                        #carousel7.carousel.slide.w-100(data-bs-ride='false')
                            .carousel-inner
                                .carousel-item.box-big.active
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/1.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/2.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/3.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/4.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/5.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/6.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/7.jpg", alt="", srcset="")
                                .carousel-item.box-big
                                    div: a.workbox(data-angle="")
                                        img.w-100.h-100(src="/assets/artist/6/子宮圖/8.jpg", alt="", srcset="")
                                    
                            button.carousel-control-prev(data-bs-target='#carousel7' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(data-bs-target='#carousel7' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
        #tab-4.tab-pane.fade(role="tabpanel" aria-labelledby="tab-4-nav")
            .slogan.align-items-center.text-center.py-5
                p 對我來說創作是從內心的感動開始延伸，是真摯純粹的初心，將思想轉化於物質的過程，身為藝術家，我渴望與人連結，聽見不同的生命經驗與情感，將之轉化為作品。
                p 靈感是流動的，空間與場域一直是我著迷的區塊，空間是我擅長的領域，搭建一個空間，讓觀者直接進入體驗，可場域就更寬廣了，聲音的振幅是直接於身體中產生震動，直接進入心，帶入想像的畫面，聲音創造了景象，形成疊加的空間，身體表演讓我們直接跳過腦，遠古的流動與表現，這是現在的我想要追尋的可能性，因而在2020年開始《風吹來母親的聲音｜藝術計畫》，計畫持續進行中。
            .works
                .row.g-0
                    .col-md-4: .disc 
                        h2 《風吹來母親的聲音｜聲音設計_發展階段》
                    .col-md-8.bg-color-7
                        .box-big
                            div: a.workbox#playaudio
                                img.w-100.h-100(src="/assets/artist/6/心/1.jpg", alt="", srcset="")
                            audio.mt-4.w-100#audio(src="/assets/artist/6/心/風吹來母親的聲音_Masterd_Qi.mp3" controls controlslist="nodownload nofullscreen noremoteplayback") 
                .row.g-0
                    .col-md-4: .disc 
                        h2 《風吹來母親的聲音｜前期影像聲音作品》
                        p.
                            「跨不同世代的母親，共同唱出聲音的療癒網，
                            風吹來母親的聲音，如同光線般灑落在土地上，
                            當你用心聽時，聽見那無窮無盡的秘密。
                            聽見那慰藉，聽見那光亮，熟悉的旋律一直都在，
                            讓我們一起喚醒古老的曲調，
                            來自媽媽的聲音。」 
                    .col-md-8.bg-color-7
                        .box-big.w-100
                            div
                                iframe.w-100.h-100(src='https://www.youtube.com/embed/I3nTatxT4sU?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
                        .box-big
                            p.
                                風吹來母親的聲音｜計劃發起/藝術家 林秀蘋<br>
                                聲音錄製/採集/聲音導演 林秀蘋<br>
                                聲音設計｜余楊心平 YU YANG SIN PING<br>
                                即興獨舞 ｜ 編舞家王怡湘 Wang I Hsiang<br>
                                攝影 林秀蘋 徐荺婷<br>
                                剪輯/聲音剪輯 徐荺婷<br>
                                短片音樂作曲 林孟萱
                            p.
                                A film by 林秀蘋 
                            p.
                                ｜參與錄製者｜<br>
                                家族<br>
                                楊李月裡 楊阿春 林 琳<br>
                                施慧端 洪翎<br>
                                林瑋馨 張語慈<br>
                                盧慧年、王冠東<br>
                                鄔麗綺 何靖媛 <br>
                                張李安梅 陳張婉蒨<br>
                                廖芳珍 李宛玲<br>
                                傅淑美 蕭雅萍<br>
                            p.
                                個人<br>
                                李昱瑩、林宥綸、邱小華、劉芊妘、金質靈<br>
                                袁念慈、李虹旻、吳純嫻、王怡湘、盧郁汶<br>
                                劉于仙、吳柔衣、游千瑩、周邦蓉、戴若梅 、謝徐鳳玉、許春蘭
append script
    script(src="/assets/js/artist.js")
    script.
        $("#playaudio").on("click", function(e) {
            $("#audio")[0].play()
        })
        $("#moreNav .nav-link").on("click", function(e) {
            $("html, body").animate({scrollTop: 0}, 40)
        })