extends /en/_layout.pug
append variables
    - title = "LAI Hsin-You‧Kousan Craft"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist8.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/8/anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p Try to connect the dotted line
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 What is broken would not restore itself. Only with the determination to repair is there a chance to put things together slowly.
        h6 LAI Hsin-You
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022‧8.5 x 8.5 x 8 cm
                h2 Father's lacquer ceramic cup
                p Lacquer, biscuit firing ceramic, soil powder, gold powder
            .col-md-8.bg-color-5
                .box-big: div: a.workbox(data-angle="p" href="#")
                    img.d-block.h-100.w-100(src='/assets/artist/8/父親的漆陶杯.jpg')
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022‧8.5 x 8.5 x 5 cm
                h2 Grandpa's embossed lacquer box
                p Embossed lacquer, soil powder, gold powder
            .col-md-8.bg-color-4
                .box-big: div: a.workbox(data-angle="p" href="#")
                    img.d-block.h-100.w-100(src='/assets/artist/8/阿公的堆漆盒.jpg')

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p These are the restorations of my father's and grandpa's works. I believe that there has always been a connection between objects and people. As a result, thoughts of and about the loved one can also be transferred to objects, and thus through the process of repairing objects, we heal.
                p What is broken would not restore itself. Only with the determination to repair is there a chance to put things together slowly. Even though the process of repairing is long, the day will come when it is complete. This is true for objects, as it is for feelings.
                p I was not particularly close to my father. Neither my father nor I are good at expressing our feelings, and thus we often hurt each other while arguing. After my father and grandpa both passed away, I realized that everything that happened in this world is inevitable, and they all lead to the same inevitable result. No matter how much you treasure a thing, it breaks when it has to be broken. Time may not play such a crucial role to an artifact. It can still be fixed with care after a long time. However, human life has an end. Once the moment has passed, the relationship can never be repaired. Through this work I express my thoughts on my father and grandpa.
                    
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b LAI Hsin-You‧Kousan Craft
                p Born in Taichung in 1986, Lai started learning to make lacquerware in 2003. He studied with his grandfather LAI Kou-San and his father LAI Tzouh-Ming. In 2011, he began to work as a full-time lacquer artist and teacher. In 2016, Lai reorganized KOUSAN Co. Ltd., combining traditional lacquer craftsmanship with design and modern elements, so that the public can experience the beauty of lacquerware through its use, and learn the values of "utility is beauty," and "the usage of an object shows heart." Lai hopes to return lacquerware to our everyday life.
                a(href="https://www.kousancraft.com.tw/" target="_blank") More
append script
    script(src="/assets/js/artist.js")
    script.
        $( document ).ready(function() {
            startItro(2000);
        })