extends /en/_layout.pug
append variables
    - title = "HUANG Hung-Yu‧Tu Xing Studio"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist3.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/3/anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p Try to change the water level
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 While looking at the clay in its state, I feel like I am looking at the distance I have traveled.
        h6 HUANG Hung-Yu
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 Four Origins
                p The original soil refers to the wild soil, which is directly collected from the land in different regions. From left to right, each was collected from Cayamavana village, Alishan; Dulan town, Taitung; Donghe township, Taitung; and Linkou, New Taipei City. After the collection, the soil was softened with water, and then sieved and processed into clay that can be sculpted. The change of soil into this state is also related to the state in which it is actually used.
            .col-md-8
                .box-big.bg-color-4.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/vVYU_-WJ3pQ?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 Life
                p.
                    It also refers to the life of the earth.<br>
                    Watering is the main interaction as well as the key to adjustment while doing pottery. Water allows me to see the living state of the clay. Working with the soft, moist clay is also the most healing moment during the process.
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/G0ZTmg5P4ts?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 Sound
                p The sound is the interaction between air and water. It means there is still much that I can do with the clay before sintering.
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/UKazydUZr2I?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 Three States of Ceramic
                p.
                    I put the three most common states of pottery making in water. Arranged from top to bottom, they are pottery sintered at high temperature, pottery kneaded and molded at room temperature, pottery bisque fired at low temperature, which is still permeable. Water is the most commonly used medium in the production process, which presents the states of pottery explicitly.
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/_p6hAXQqUrk?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 Balance
                p Rolling and colliding, these are the experiments I have done with clay, trying to reach the balance between utility and creativity while making pottery.
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/jLdnoMCzCEo?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 Fragment
                p The shaking sound can tell how much water is in the container, louder means less water. Inside the container are ceramic balls. This was inspired by my visit to an Izakaya, where the drinking vessels they use make such kind of sounds. Here is a small snippet of my experience with the utensils. When the owner recounted how this drinking vessel is used, I felt his life.
                p After a pottery is completely fired and formed, how it is used is a state of returning to life.
                p.
                    Drinking from a pottery cup; eating from a pottery bowl is such an ordinary way of living, but it is the easiest thing to be neglected. After seeing how poetry has been used in other cultures, I suddenly recalled the forgotten feeling of life. Therefore, I elaborated such a slice of life. <br>
                    This is also the living feeling that ceramic gives me, revolving throughout my everyday life. 

            .col-md-8.bg-color-5.d-flex.align-items-center
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/CtCyn4e7R9A?rel=0&modestbranding=1&playsinline=1&enablejsapi=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 Concept
                span.
            .col-md-8.bg-color-6: .box-big
                p The most healing thing about pottery for me is actually the "process" before clay sinters into ceramic. In the past, I could only present the final results to others, but the works exhibited this time allowed me to go back to the very beginning of a healing state.
                p I divided the soil I collected into five stages: soil, clay, bisque-firing (a state that can still absorb water), and high-temperature firing (sintering), trying to present the sense of healing I felt during these processes. This is like the living states of earth, as well as the faces of my life.
                p "life" was chosen as the motif of this work. I do not want to address it in a too serious way. "life" refers to the process of living. The clay has a memory. It records the time and strength I use to shape and adjust it. It also records my condition at every moment. While looking at the clay in its state, I feel like I am looking at the distance I have traveled.
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 Artist
                span.
            .col-md-8.bg-color-6: .box-big
                p: b HUANG Hung-Yu‧Tu Xing Studio
                p HUANG Hung-Yu is a ceramic artist, currently the director of Tu Xing Studio. She graduated from the Institute of Applied Arts, National Tainan University of the Arts. She held an artist residency at Baltimore Clayworks, the United States in 2015, and was the resident artist at Sunday Morning, EKWC, the Netherlands in 2018. After returning to Taiwan, she has concentrated on establishing the Tu Xing Studio, building the studio space, promoting ceramic practice, and collaborating with other artists.
                a(href="https://jerry79725.easy.co/" target="_blank") More
append script
    script(src="/assets/js/artist.js") 
    script.
        $( document ).ready(function() {
            startItro(2000);
        })