extends /en/_layout.pug
append variables
    - title = "HUANG Hung-Yu‧Tu Xing Studio"
append head
    link(rel="stylesheet" href="/assets/css/artist.css?version="+timestamp)
    link(rel="stylesheet" href="/assets/css/artist3.css?version="+timestamp)
append body
    #top-anim
        iframe.w-100.h-100(src="/zh_tw/artist/3/anim.html", frameborder="0") 
        #intro-overlay
            .topeye
            .bottomeye
            .textbox
                p Try to change the water level
                button.btn#startanim Start
    .slogan.align-items-center.text-center
        h3 While looking at the clay in its state, I feel like I am looking at the distance I have traveled.
        h6 HUANG Hung-Yu
    .works
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 四顆原土
                p 原土，指的是野土，直接在不同地區的土地上採集而來。左至右分別採集自阿里山茶山村、台東都蘭鎮、台東東河、新北林口。收集後用水融化，再將其過篩處理成可以捏塑的土。在這個狀態下土的變化與其實際被使用的狀態也有關聯。
            .col-md-8
                .box-big.bg-color-4.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/vVYU_-WJ3pQ?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 Life
                p.
                    指的也是土的生命。<br>
                    水是做陶時主要的互動以及調整的關鍵。水讓我看到土的生命狀態，在過程中柔軟濕潤的土也是最療癒的時刻。
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/G0ZTmg5P4ts?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 聲音
                p 聲音是空氣與水的互動，表示燒結之前我還可以改變它很多的狀態。
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/UKazydUZr2I?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 陶的三個狀態
                p.
                    我將陶製作過程中最常見的三個狀態，放在水中，由上至下排列，分別是高溫燒結的陶瓷容器、土在常溫下被捏塑完成的容器、低溫燒成還是很透氣的容器。水是製作過程中最常使用的媒介，能最清楚的呈現陶的狀態。
            .col-md-8.bg-color-5
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/_p6hAXQqUrk?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4: .disc 
                p.small 2022
                h2 平衡
                p 滾動撞擊，代表我過去在做實用陶的過程中，試圖找尋一種實用與創作的平衡。
            .col-md-8.bg-color-4
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/jLdnoMCzCEo?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        .row.g-0
            .col-md-4.bg-color-1: .disc 
                p.small 2022
                h2 片段
                p.
                    搖晃的聲音可判斷容器裡的水量有多少，越大聲表示水量越少，裡面是陶球，這個靈感來自之前去居酒屋，他們用的酒器會這樣發出聲音，是我使用器皿經驗的小片段，當老闆敘述使用酒器的實用方式時，我感受到他的生活。<br><br>
                    陶器最終燒製成型後，如何被使用即是一種回歸到生活的狀態。<br><br>
                    用陶杯喝水，以陶碗吃飯，再平凡不過的生活方式，最容易被忘記。在看到其他文化的使用方式，我突然想起被遺忘的生活感。所以敘述了這樣的生活片段。這也是陶在我生活中的不斷循環的生命感。

            .col-md-8.bg-color-5.d-flex.align-items-center
                .box-big.w-100
                    div
                        iframe.w-100.h-100(src='https://www.youtube.com/embed/CtCyn4e7R9A?rel=0&modestbranding=1&playsinline=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

        .row.g-0
            .col-md-4.bg-color-2.about
                h1 創作概念
                span.
            .col-md-8.bg-color-6: .box-big
                p The most healing thing about pottery for me is actually the “process” before clay sinters into ceramic. In the past, I could only present the final results to others, but the works exhibited this time allowed me to go back to the very beginning of a healing state.
                p I divided the soil I collected into five stages: soil, clay, bisque-firing (a state that can still absorb water), and high-temperature firing (sintering), trying to present the sense of healing I felt during these processes. This is like the living states of earth, as well as the faces of my life.
                p “life” was chosen as the motif of this work. I do not want to address it in a too serious way. “life” refers to the process of living. The clay has a memory. It records the time and strength I use to shape and adjust it. It also records my condition at every moment. While looking at the clay in its state, I feel like I am looking at the distance I have traveled.
        .row.g-0
            .col-md-4.bg-color-3.artist
                h1 藝術家介紹
                span.
            .col-md-8.bg-color-6: .box-big
                p: b HUANG Hung-Yu‧Tu Xing Studio
                p HUANG Hung-Yu is a ceramic artist, currently the director of Tu Xing Studio. She graduated from the Institute of Applied Arts, National Tainan University of the Arts. She held an artist residency at Baltimore Clayworks, the United States in 2015, and was the resident artist at Sunday Morning, EKWC, the Netherlands in 2018. After returning to Taiwan, she has concentrated on establishing the Tu Xing Studio, building the studio space, promoting ceramic practice, and collaborating with other artists.
                a(href="https://jerry79725.easy.co/" target="_blank") 更了解藝術家
append script
    script(src="/assets/js/artist.js") 
    script.
        $( document ).ready(function() {
            startItro(2000);
        })